<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PrintJobsLocation" value="E:\AccountingPlusPrints"/>
    <add key="DBConnection" value="server=solutionswebsrv; Initial Catalog=AccountingPlus12;user Id=sa; Password=sa;"/>
    <add key="JobMoniteringInterval" value="5000"/>
    <add key="NumberOfJobsToBeInitializedPerJobMoniteringInterval" value="50"/>
    <add key="TrackJobTimings" value="False"/>
    <add key="RecordServiceTimings" value="False"/>
    <add key="Key1" value=""/>
    <add key="Key2" value="true"/>
    <add key="Key3" value=""/>
    <add key="Key4" value=""/>
    <add key="Key5" value=""/>
    <add key="Key6" value=""/>
    <add key="Key7" value=""/>
    <add key="Key8" value=""/>
    <add key="Key9" value=""/>
    <add key="Key10" value=""/>
    <add key="EnableFTPProxy" value="false"/> <!--true/false-->
    <add key="FTPProxy_Uri" value=""/>   <!-- ex: http://172.29.240.69:80-->
    <add key="FTPProxy_User" value=""/>
    <add key="FTPProxy_Domain" value=""/>
    <add key="FTPProxy_Password" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
