<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PrintJobsLocation" value="E:\AccountingPlusPrints"/>
    <add key="DBConnection" value="server=solutionserver\solutionserver; Initial Catalog=AccountingPlus12;user Id=sa; Password=ssdiblr@123;"/>
    <add key="DeleteTimeInterval" value="1800000"/>
    <add key="PrintJobWatchInterval" value="10000"/>
    <add key="ServiceWatchTime" value="60000"/>
    <!-- Set TrackJobTimings == True to Track Job Tracking Details like Receiving/Spliting Start and End Time-->
    <!--<add key="TrackJobTimings" value="False"/>-->
    <add key="TrackJobTimings" value="True"/>
    <add key="RecordServiceTimings" value="True"/>
    <!--DataServer values (FILESERVER or SQLSERVER) -->
    <add key="DataServer" value="FILESERVER"/>
    <add key="WriteTestPRN" value="False"/>
    <add key="WriteTestData" value="False"/>
    <!-- EnableDebugTool = ENABLE/DISABLE, If Administration Service is responding it will overridden by Web setting-->
    <add key="EnableDebugTool" value="ENABLE"/>
    <add key="JOBCONFIGURATION" value="7,00:00"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Key1" value=""/>
    <add key="Key2" value=""/>
    <add key="Key3" value=""/>
    <add key="Key4" value=""/>
    <add key="Key5" value=""/>
    <add key="Key6" value=""/>
    <add key="Key7" value=""/>
    <add key="Key8" value=""/>
    <add key="Key9" value=""/>
    <add key="Key10" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccountingConfiguratorSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/AccountingPlusAdmin/WebServices/Configurator.asmx"
        binding="basicHttpBinding" bindingConfiguration="AccountingConfiguratorSoap"
        contract="AccountingPlusAdministration.AccountingConfiguratorSoap"
        name="AccountingConfiguratorSoap" />
    </client>
  </system.serviceModel>
</configuration>
