<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StartVersion" value="1.0.10.1"/>
    <!--<add key="mailTo" value="hirdesh@ssdi.sharp.co.in,grvaradharaj@ssdi.sharp.co.in,psreedhar@ssdi.sharp.co.in,gprasad@ssdi.sharp.co.in,lravisankar@ssdi.sharp.co.in,vkishore@ssdi.sharp.co.in"/>-->
    <add key="mailFrom" value="buildAdmin@ssdi.sharp.co.in"/>

    <add key="mailTo" value="drajshekhar@ssdi.sharp.co.in"/>

    <add key="MailCC" value="grvaradharaj@ssdi.sharp.co.in,yudaynarayanarao@ssdi.sharp.co.in,bpuneeth@ssdi.sharp.co.in"/>
    <add key="Key1" value=""/>
    <add key="Key2" value=""/>
    <add key="Key3" value=""/>
    <add key="Key4" value=""/>
    <add key="Key5" value=""/>
    <add key="Key6" value=""/>
    <add key="Key7" value=""/>
    <add key="Key8" value=""/>
    <add key="Key9" value=""/>
    <add key="Key10" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
