<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="DBConnection" value="server=solutionswebsrv; Initial Catalog=AccountingPlus12;user Id=sa; Password=sa;"/>

    <add key="EMAIL_FROM" value="JobDispatcher@AccountingPlus.com"/>
    <add key="EMAIL_TO" value="drajshekhar@ssdi.sharp.co.in"/>
    <add key="EMAIL_CC" value="vkishore@ssdi.sharp.co.in,snagendra@ssdi.sharp.co.in,grvaradharaj@ssdi.sharp.co.in,gprasad@ssdi.sharp.co.in,psudheendra@ssdi.sharp.co.in,uchaithanya@ssdi.sharp.co.in"/>
    <add key="EMAIL_BCC" value=""/>

    <add key="SMTP_SERVER" value="172.29.240.82"/>
    <add key="SMTP_PORT" value="25"/>
    <add key="APPLY_USER_CREDENTIALS" value="FALSE"/>
    <add key="USER_ID" value=""/>
    <add key="USER_PASSWORD" value=""/>
    <add key="USER_DOMAIN" value=""/>

    <!--<add key="MailCC" value="Snagendra@ssdi.sharp.co.in,psreedhar@ssdi.sharp.co.in,grvaradharaj@ssdi.sharp.co.in,gprasad@ssdi.sharp.co.in,psudheendra@ssdi.sharp.co.in,vkishore@ssdi.sharp.co.in,uchaithanya@ssdi.sharp.co.in"/>-->

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
