USE [AccountingPlusDB]
GO

/****** Object:  Table [dbo].[T_PRINT_JOBS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_PRINT_JOBS]
GO
/****** Object:  Table [dbo].[T_JOB_LOG]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_JOB_LOG]
GO
/****** Object:  Table [dbo].[T_JOB_USAGE_PAPERSIZE]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_JOB_USAGE_PAPERSIZE]
GO
/****** Object:  Table [dbo].[T_AUTOREFILL_LIMITS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_AUTOREFILL_LIMITS]
GO
/****** Object:  Table [dbo].[SQL_EXECUTION]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[SQL_EXECUTION]
GO
/****** Object:  Table [dbo].[T_JOB_DISPATCHER]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_JOB_DISPATCHER]
GO
/****** Object:  Table [dbo].[T_JOB_PERMISSIONS_LIMITS_AUTOREFILL]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_JOB_PERMISSIONS_LIMITS_AUTOREFILL]
GO
/****** Object:  Table [dbo].[M_JOB_CATEGORIES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_JOB_CATEGORIES]
GO
/****** Object:  Table [dbo].[T_DEVICE_FLEETS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_DEVICE_FLEETS]
GO
/****** Object:  Table [dbo].[T_JOB_PERMISSIONS_LIMITS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_JOB_PERMISSIONS_LIMITS]
GO
/****** Object:  Table [dbo].[T_COSTCENTER_USERS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_COSTCENTER_USERS]
GO
/****** Object:  Table [dbo].[T_ASSGIN_COST_PROFILE_MFPGROUPS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_ASSGIN_COST_PROFILE_MFPGROUPS]
GO
/****** Object:  Table [dbo].[M_JOB_TYPES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_JOB_TYPES]
GO
/****** Object:  Table [dbo].[T_JOB_TRANSMITTER]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_JOB_TRANSMITTER]
GO
/****** Object:  Table [dbo].[APP_IMAGES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[APP_IMAGES]
GO
/****** Object:  Table [dbo].[T_ACCESS_RIGHTS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_ACCESS_RIGHTS]
GO
/****** Object:  Table [dbo].[M_COUNTRIES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_COUNTRIES]
GO
/****** Object:  Table [dbo].[M_SMTP_SETTINGS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_SMTP_SETTINGS]
GO
/****** Object:  Table [dbo].[M_PRICE_PROFILES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_PRICE_PROFILES]
GO
/****** Object:  Table [dbo].[T_JOB_TRACKER]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_JOB_TRACKER]
GO
/****** Object:  Table [dbo].[M_USER_GROUPS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_USER_GROUPS]
GO
/****** Object:  Table [dbo].[M_MFPS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_MFPS]
GO
/****** Object:  Table [dbo].[APP_VERSION]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[APP_VERSION]
GO
/****** Object:  Table [dbo].[TEMP_CARD_MAPPING]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[TEMP_CARD_MAPPING]
GO
/****** Object:  Table [dbo].[JOB_COMPLETED_STATUS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[JOB_COMPLETED_STATUS]
GO
/****** Object:  Table [dbo].[M_COST_CENTERS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_COST_CENTERS]
GO
/****** Object:  Table [dbo].[T_AD_USERS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_AD_USERS]
GO
/****** Object:  Table [dbo].[T_PROXY_SETTINGS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_PROXY_SETTINGS]
GO
/****** Object:  Table [dbo].[RESX_SERVER_MESSAGES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[RESX_SERVER_MESSAGES]
GO
/****** Object:  Table [dbo].[T_CURRENT_JOBS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_CURRENT_JOBS]
GO
/****** Object:  Table [dbo].[AccountingPlus_Users]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[AccountingPlus_Users]
GO
/****** Object:  Table [dbo].[T_JOBS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_JOBS]
GO
/****** Object:  Table [dbo].[JOB_CONFIGURATION]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[JOB_CONFIGURATION]
GO
/****** Object:  Table [dbo].[RESX_LABELS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[RESX_LABELS]
GO
/****** Object:  Table [dbo].[M_USERS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_USERS]
GO
/****** Object:  Table [dbo].[RESX_CLIENT_MESSAGES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[RESX_CLIENT_MESSAGES]
GO
/****** Object:  Table [dbo].[M_OSA_JOB_PROPERTIES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_OSA_JOB_PROPERTIES]
GO
/****** Object:  Table [dbo].[T_JOB_PERMISSIONS_LIMITS_AUTOREFILL_TEMP]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_JOB_PERMISSIONS_LIMITS_AUTOREFILL_TEMP]
GO
/****** Object:  Table [dbo].[CostCenterDefaultPL]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[CostCenterDefaultPL]
GO
/****** Object:  Table [dbo].[AD_SETTINGS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[AD_SETTINGS]
GO
/****** Object:  Table [dbo].[T_AUTO_REFILL]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_AUTO_REFILL]
GO
/****** Object:  Table [dbo].[T_AUDIT_LOG]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_AUDIT_LOG]
GO
/****** Object:  Table [dbo].[T_PRINT_JOB_WEB_SETTINGS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_PRINT_JOB_WEB_SETTINGS]
GO
/****** Object:  Table [dbo].[CARD_CONFIGURATION]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[CARD_CONFIGURATION]
GO
/****** Object:  Table [dbo].[T_CURRENT_SESSIONS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_CURRENT_SESSIONS]
GO
/****** Object:  Table [dbo].[T_PRICES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_PRICES]
GO
/****** Object:  Table [dbo].[APP_LANGUAGES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[APP_LANGUAGES]
GO
/****** Object:  Table [dbo].[M_PAPER_SIZES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_PAPER_SIZES]
GO
/****** Object:  Table [dbo].[T_ASSIGN_MFP_USER_GROUPS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_ASSIGN_MFP_USER_GROUPS]
GO
/****** Object:  Table [dbo].[INVALID_CARD_CONFIGURATION]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[INVALID_CARD_CONFIGURATION]
GO
/****** Object:  Table [dbo].[T_GROUP_MFPS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_GROUP_MFPS]
GO
/****** Object:  Table [dbo].[T_SERVICE_MONITOR]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_SERVICE_MONITOR]
GO
/****** Object:  Table [dbo].[APP_SETTINGS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[APP_SETTINGS]
GO
/****** Object:  Table [dbo].[M_MFP_GROUPS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_MFP_GROUPS]
GO
/****** Object:  Table [dbo].[M_ROLES]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_ROLES]
GO
/****** Object:  Table [dbo].[M_DEPARTMENTS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[M_DEPARTMENTS]
GO
/****** Object:  Table [dbo].[T_MFP_ACCESS_RIGHTS]    Script Date: 04/19/2012 18:05:00 ******/
DELETE FROM [dbo].[T_MFP_ACCESS_RIGHTS]
GO
/****** Object:  Table [dbo].[T_MFP_ACCESS_RIGHTS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_DEPARTMENTS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_ROLES]    Script Date: 04/19/2012 18:05:00 ******/
INSERT [dbo].[M_ROLES] ([ROLE_ID], [ROLE_NAME]) VALUES (N'ADMIN', N'Administrator')
INSERT [dbo].[M_ROLES] ([ROLE_ID], [ROLE_NAME]) VALUES (N'USER', N'User/Team Member')
/****** Object:  Table [dbo].[M_MFP_GROUPS]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[M_MFP_GROUPS] ON
INSERT [dbo].[M_MFP_GROUPS] ([GRUP_ID], [GRUP_NAME], [REC_ACTIVE], [REC_DATE], [REC_USER]) VALUES (1, N'Default', 0, CAST(0x0000A009001982DC AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[M_MFP_GROUPS] OFF
/****** Object:  Table [dbo].[APP_SETTINGS]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[APP_SETTINGS] ON

INSERT [dbo].[APP_SETTINGS] ([REC_SLNO], [APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES (1, N'GeneralSettings', N'Allowed retries for user login', N'LOGON_MAX_RETRY_COUNT', N'Allowed retries for user login', 3, N'-1', N'int', N'Unlimited,1,2,3,4,5,6,7,8,9', N'-1,1,2,3,4,5,6,7,8,9', N'Unlimited', N'DROPDOWN', 1)
INSERT [dbo].[APP_SETTINGS] ([REC_SLNO], [APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES (11, N'GeneralSettings', N'Anonymous Direct Print to MFP', N'ANONYMOUS_DIRECT_MFPPRINT', N'Anonymous Direct Print to MFP', 13, N'Enable', N'string', N'Enable,Disable', N'Enable,Disable', N'Enable', N'DROPDOWN', 1)
INSERT [dbo].[APP_SETTINGS] ([REC_SLNO], [APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES (2, N'GeneralSettings', N'AUDIT_LOG', N'AUDIT_LOG', N'Audit Log', 4, N'Enable', N'string', N'Enable,Disable', N'Enable,Disable', N'Enable', N'DROPDOWN', 1)
SET IDENTITY_INSERT [dbo].[APP_SETTINGS] OFF
/****** Object:  Table [dbo].[T_SERVICE_MONITOR]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_GROUP_MFPS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[INVALID_CARD_CONFIGURATION]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[INVALID_CARD_CONFIGURATION] ON
INSERT [dbo].[INVALID_CARD_CONFIGURATION] ([REC_SLNO], [CARD_TYPE], [CARD_RULE], [CARD_SUB_RULE], [CARD_DATA_ENABLED], [CARD_DATA_ON], [CARD_POSITION_START], [CARD_POSITION_LENGTH], [CARD_DELIMETER_START], [CARD_DELIMETER_END], [CARD_CODE_VALUE], [REC_ACTIVE], [REC_CDATE], [REC_MDATE]) VALUES (22, N'-1', N'DDR', N'-', 0, N'P', 0, 0, N'', N'', N'', 1, CAST(0x00009FD101269DF5 AS DateTime), NULL)
INSERT [dbo].[INVALID_CARD_CONFIGURATION] ([REC_SLNO], [CARD_TYPE], [CARD_RULE], [CARD_SUB_RULE], [CARD_DATA_ENABLED], [CARD_DATA_ON], [CARD_POSITION_START], [CARD_POSITION_LENGTH], [CARD_DELIMETER_START], [CARD_DELIMETER_END], [CARD_CODE_VALUE], [REC_ACTIVE], [REC_CDATE], [REC_MDATE]) VALUES (21, N'-1', N'DPR', N'-', 0, N' ', 0, 0, N'', N'', N'', 1, CAST(0x00009FD101269DF5 AS DateTime), NULL)
INSERT [dbo].[INVALID_CARD_CONFIGURATION] ([REC_SLNO], [CARD_TYPE], [CARD_RULE], [CARD_SUB_RULE], [CARD_DATA_ENABLED], [CARD_DATA_ON], [CARD_POSITION_START], [CARD_POSITION_LENGTH], [CARD_DELIMETER_START], [CARD_DELIMETER_END], [CARD_CODE_VALUE], [REC_ACTIVE], [REC_CDATE], [REC_MDATE]) VALUES (3, N'BR', N'FSC', N'-', 0, N' ', 0, 0, N'', N'', N'', 1, CAST(0x00009F0C010A3BFA AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[INVALID_CARD_CONFIGURATION] OFF
/****** Object:  Table [dbo].[T_ASSIGN_MFP_USER_GROUPS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_PAPER_SIZES]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[M_PAPER_SIZES] ON
INSERT [dbo].[M_PAPER_SIZES] ([SYS_ID], [PAPER_SIZE_NAME], [PAPER_SIZE_CATEGORY], [REC_ACTIVE]) VALUES (52, N'A4', N'A', 1)
INSERT [dbo].[M_PAPER_SIZES] ([SYS_ID], [PAPER_SIZE_NAME], [PAPER_SIZE_CATEGORY], [REC_ACTIVE]) VALUES (53, N'A3', N'A', 1)
INSERT [dbo].[M_PAPER_SIZES] ([SYS_ID], [PAPER_SIZE_NAME], [PAPER_SIZE_CATEGORY], [REC_ACTIVE]) VALUES (54, N'LETTER', N'L', 1)
SET IDENTITY_INSERT [dbo].[M_PAPER_SIZES] OFF
/****** Object:  Table [dbo].[APP_LANGUAGES]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[APP_LANGUAGES] ON
INSERT [dbo].[APP_LANGUAGES] ([REC_SLNO], [APP_CULTURE], [APP_NEUTRAL_CULTURE], [APP_LANGUAGE], [APP_CULTURE_DIR], [REC_ACTIVE]) VALUES (14, N'en-US', N'en', N'English (United States)', N'LTR', 1)
SET IDENTITY_INSERT [dbo].[APP_LANGUAGES] OFF
/****** Object:  Table [dbo].[T_PRICES]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_CURRENT_SESSIONS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[CARD_CONFIGURATION]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[CARD_CONFIGURATION] ON
INSERT [dbo].[CARD_CONFIGURATION] ([REC_SLNO], [CARD_TYPE], [CARD_RULE], [CARD_SUB_RULE], [CARD_DATA_ENABLED], [CARD_DATA_ON], [CARD_POSITION_START], [CARD_POSITION_LENGTH], [CARD_DELIMETER_START], [CARD_DELIMETER_END], [CARD_CODE_VALUE], [REC_ACTIVE], [REC_CDATE], [REC_MDATE]) VALUES (1, N'-1', N'DDR', N'-', 0, N'P', 0, 0, N'', N'', N'', 1, CAST(0x0000A0380129C252 AS DateTime), NULL)
INSERT [dbo].[CARD_CONFIGURATION] ([REC_SLNO], [CARD_TYPE], [CARD_RULE], [CARD_SUB_RULE], [CARD_DATA_ENABLED], [CARD_DATA_ON], [CARD_POSITION_START], [CARD_POSITION_LENGTH], [CARD_DELIMETER_START], [CARD_DELIMETER_END], [CARD_CODE_VALUE], [REC_ACTIVE], [REC_CDATE], [REC_MDATE]) VALUES (2, N'-1', N'DPR', N'-', 0, N' ', 0, 0, N'', N'', N'', 1, CAST(0x0000A0380129C257 AS DateTime), NULL)
INSERT [dbo].[CARD_CONFIGURATION] ([REC_SLNO], [CARD_TYPE], [CARD_RULE], [CARD_SUB_RULE], [CARD_DATA_ENABLED], [CARD_DATA_ON], [CARD_POSITION_START], [CARD_POSITION_LENGTH], [CARD_DELIMETER_START], [CARD_DELIMETER_END], [CARD_CODE_VALUE], [REC_ACTIVE], [REC_CDATE], [REC_MDATE]) VALUES (3, N'BR', N'FSC', N'-', 0, N' ', 0, 0, N'', N'', N'', 1, CAST(0x0000A0380129C257 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CARD_CONFIGURATION] OFF
/****** Object:  Table [dbo].[T_PRINT_JOB_WEB_SETTINGS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_AUDIT_LOG]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_AUTO_REFILL]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[T_AUTO_REFILL] ON
INSERT [dbo].[T_AUTO_REFILL] ([REC_SYSID], [AUTO_FILLING_TYPE], [AUTO_REFILL_FOR], [ADD_TO_EXIST_LIMITS], [AUTO_REFILL_ON], [AUTO_REFILL_VALUE], [LAST_REFILLED_ON], [IS_REFILL_REQUIRED]) VALUES (1, N'Manual', N'U', N'Yes', N'Every Day', N'11:00 PM', NULL, 1)
INSERT [dbo].[T_AUTO_REFILL] ([REC_SYSID], [AUTO_FILLING_TYPE], [AUTO_REFILL_FOR], [ADD_TO_EXIST_LIMITS], [AUTO_REFILL_ON], [AUTO_REFILL_VALUE], [LAST_REFILLED_ON], [IS_REFILL_REQUIRED]) VALUES (2, N'Manual', N'C', N'Yes', N'Every Day', N'11:00 PM', NULL, 1)
SET IDENTITY_INSERT [dbo].[T_AUTO_REFILL] OFF
/****** Object:  Table [dbo].[AD_SETTINGS]    Script Date: 04/19/2012 18:05:00 ******/
--SET IDENTITY_INSERT [dbo].[AD_SETTINGS] ON
--INSERT [dbo].[AD_SETTINGS] ([SLNO], [AD_SETTING_KEY], [AD_SETTING_VALUE], [AD_SETTING_DESCRIPTION]) VALUES (1, N'DOMAIN_CONTROLLER', N'', N'Domain host from login screen')
--INSERT [dbo].[AD_SETTINGS] ([SLNO], [AD_SETTING_KEY], [AD_SETTING_VALUE], [AD_SETTING_DESCRIPTION]) VALUES (2, N'DOMAIN_NAME', N'', N'Domain Name')
--INSERT [dbo].[AD_SETTINGS] ([SLNO], [AD_SETTING_KEY], [AD_SETTING_VALUE], [AD_SETTING_DESCRIPTION]) VALUES (3, N'AD_USERNAME', N'', N'AD User name with admin permissions')
--INSERT [dbo].[AD_SETTINGS] ([SLNO], [AD_SETTING_KEY], [AD_SETTING_VALUE], [AD_SETTING_DESCRIPTION]) VALUES (4, N'AD_PASSWORD', N'', N'AD password with admin permissions')
--INSERT [dbo].[AD_SETTINGS] ([SLNO], [AD_SETTING_KEY], [AD_SETTING_VALUE], [AD_SETTING_DESCRIPTION]) VALUES (5, N'AD_PORT', N'389', N'Default port is 389')
--INSERT [dbo].[AD_SETTINGS] ([SLNO], [AD_SETTING_KEY], [AD_SETTING_VALUE], [AD_SETTING_DESCRIPTION]) VALUES (6, N'AD_FULLNAME', N'cn', N'cn,displayName')
--INSERT [dbo].[AD_SETTINGS] ([SLNO], [AD_SETTING_KEY], [AD_SETTING_VALUE], [AD_SETTING_DESCRIPTION]) VALUES (7, N'IS_CARD_ENABLED', N'False', N'Is card field Enabled')
--INSERT [dbo].[AD_SETTINGS] ([SLNO], [AD_SETTING_KEY], [AD_SETTING_VALUE], [AD_SETTING_DESCRIPTION]) VALUES (8, N'CARD_FIELD', NULL, N'Card field for Sync')
--INSERT [dbo].[AD_SETTINGS] ([SLNO], [AD_SETTING_KEY], [AD_SETTING_VALUE], [AD_SETTING_DESCRIPTION]) VALUES (9, N'IS_PIN_ENABLED', N'False', N'Is PIN field enabled')
--INSERT [dbo].[AD_SETTINGS] ([SLNO], [AD_SETTING_KEY], [AD_SETTING_VALUE], [AD_SETTING_DESCRIPTION]) VALUES (10, N'PIN_FIELD', NULL, N'PIN Field for Sync')
--SET IDENTITY_INSERT [dbo].[AD_SETTINGS] OFF
/****** Object:  Table [dbo].[CostCenterDefaultPL]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_JOB_PERMISSIONS_LIMITS_AUTOREFILL_TEMP]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_OSA_JOB_PROPERTIES]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[M_OSA_JOB_PROPERTIES] ON
INSERT [dbo].[M_OSA_JOB_PROPERTIES] ([REC_ID], [JOB_PROPERTY_CATEGORY], [JOB_TYPE], [JOB_PROPERTY], [JOB_ORDER], [JOB_PROPERTY_RESX], [JOB_PROPERTY_TYPE], [JOB_PROPERTY_ALLOWED], [JOB_PROPERTY_DEFAULT], [JOB_PROPERTY_VALIDATAION], [JOB_PROPERTY_SETTABLE], [JOB_PROPERTY_DRIVER_SETTING], [JOB_PROPERTY_DRIVER_VALUES]) VALUES (1, N'Finishing', N'P', N'collate', 5, N'Collate', N'list', N'SORT,GROUP', N'SORT', NULL, 0, NULL, NULL)
INSERT [dbo].[M_OSA_JOB_PROPERTIES] ([REC_ID], [JOB_PROPERTY_CATEGORY], [JOB_TYPE], [JOB_PROPERTY], [JOB_ORDER], [JOB_PROPERTY_RESX], [JOB_PROPERTY_TYPE], [JOB_PROPERTY_ALLOWED], [JOB_PROPERTY_DEFAULT], [JOB_PROPERTY_VALIDATAION], [JOB_PROPERTY_SETTABLE], [JOB_PROPERTY_DRIVER_SETTING], [JOB_PROPERTY_DRIVER_VALUES]) VALUES (2, N'Main', N'P', N'color-mode', 2, N'Color Mode', N'list', N'AUTO,COLOR,MONOCHROME', N'AUTO', NULL, 1, N'PJL SET RENDERMODEL', N'CMYK4B,CMYK4B,G4')
INSERT [dbo].[M_OSA_JOB_PROPERTIES] ([REC_ID], [JOB_PROPERTY_CATEGORY], [JOB_TYPE], [JOB_PROPERTY], [JOB_ORDER], [JOB_PROPERTY_RESX], [JOB_PROPERTY_TYPE], [JOB_PROPERTY_ALLOWED], [JOB_PROPERTY_DEFAULT], [JOB_PROPERTY_VALIDATAION], [JOB_PROPERTY_SETTABLE], [JOB_PROPERTY_DRIVER_SETTING], [JOB_PROPERTY_DRIVER_VALUES]) VALUES (3, N'Main', N'P', N'copies', 1, N'Copies', N'integer', N'1-999', NULL, NULL, 1, N'PJL SET QTY', NULL)
SET IDENTITY_INSERT [dbo].[M_OSA_JOB_PROPERTIES] OFF
/****** Object:  Table [dbo].[RESX_CLIENT_MESSAGES]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_USERS]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[M_USERS] ON
INSERT [dbo].[M_USERS] ([USR_ACCOUNT_ID], [USR_SOURCE], [USR_DOMAIN], [USR_ID], [USR_CARD_ID], [USR_NAME], [USR_PIN], [USR_PASSWORD], [USR_ATHENTICATE_ON], [USR_EMAIL], [USR_DEPARTMENT], [USR_COSTCENTER], [USR_AD_PIN_FIELD], [USR_ROLE], [RETRY_COUNT], [RETRY_DATE], [REC_CDATE], [REC_ACTIVE], [ALLOW_OVER_DRAFT], [ISUSER_LOGGEDIN_MFP]) VALUES (1000, N'DB', N'Local', N'admin', N'', N'', N'', N'S2QBAyUKAfs=', NULL, N'', 0, -1, NULL, N'admin', 5, NULL, CAST(0x0000A00F01271113 AS DateTime), 1, 0, 0)
INSERT [dbo].[M_USERS] ([USR_ACCOUNT_ID], [USR_SOURCE], [USR_DOMAIN], [USR_ID], [USR_CARD_ID], [USR_NAME], [USR_PIN], [USR_PASSWORD], [USR_ATHENTICATE_ON], [USR_EMAIL], [USR_DEPARTMENT], [USR_COSTCENTER], [USR_AD_PIN_FIELD], [USR_ROLE], [RETRY_COUNT], [RETRY_DATE], [REC_CDATE], [REC_ACTIVE], [ALLOW_OVER_DRAFT], [ISUSER_LOGGEDIN_MFP]) VALUES (101, N'DB', N'Local', N'Guest', N'', N'', N'', N'S2QBAyUKAfs=', NULL, N'', 0, -1, NULL, N'User', 5, NULL, CAST(0x0000A00F01271113 AS DateTime), 1, 0, 0)
SET IDENTITY_INSERT [dbo].[M_USERS] OFF
/****** Object:  Table [dbo].[RESX_LABELS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[JOB_CONFIGURATION]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[JOB_CONFIGURATION] ON
INSERT [dbo].[JOB_CONFIGURATION] ([SLNO], [JOBSETTING_KEY], [JOBSETTING_VALUE], [JOBSETTING_DISCRIPTION]) VALUES (1, N'JOB_RET_DAYS', N'7', NULL)
INSERT [dbo].[JOB_CONFIGURATION] ([SLNO], [JOBSETTING_KEY], [JOBSETTING_VALUE], [JOBSETTING_DISCRIPTION]) VALUES (2, N'JOB_RET_TIME', N'00:00', NULL)
INSERT [dbo].[JOB_CONFIGURATION] ([SLNO], [JOBSETTING_KEY], [JOBSETTING_VALUE], [JOBSETTING_DISCRIPTION]) VALUES (3, N'RETURN_TO_PRINT_JOBS', N'Enable', NULL)
SET IDENTITY_INSERT [dbo].[JOB_CONFIGURATION] OFF
/****** Object:  Table [dbo].[T_JOBS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[AccountingPlus_Users]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_CURRENT_JOBS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[RESX_SERVER_MESSAGES]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_PROXY_SETTINGS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_AD_USERS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_COST_CENTERS]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[M_COST_CENTERS] ON
INSERT [dbo].[M_COST_CENTERS] ([COSTCENTER_ID], [COSTCENTER_NAME],  [REC_ACTIVE], [REC_DATE], [REC_USER], [ALLOW_OVER_DRAFT], [IS_SHARED]) VALUES (1, N'Default',  1, CAST(0x0000A0380129C2A2 AS DateTime), N'administrator', NULL, 0)
SET IDENTITY_INSERT [dbo].[M_COST_CENTERS] OFF
/****** Object:  Table [dbo].[JOB_COMPLETED_STATUS]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[JOB_COMPLETED_STATUS] ON
INSERT [dbo].[JOB_COMPLETED_STATUS] ([REC_SYSID], [JOB_COMPLETED_TPYE], [REC_STATUS]) VALUES (1, N'Error', 1)
INSERT [dbo].[JOB_COMPLETED_STATUS] ([REC_SYSID], [JOB_COMPLETED_TPYE], [REC_STATUS]) VALUES (2, N'Finished', 1)
INSERT [dbo].[JOB_COMPLETED_STATUS] ([REC_SYSID], [JOB_COMPLETED_TPYE], [REC_STATUS]) VALUES (3, N'Canceled', 1)
SET IDENTITY_INSERT [dbo].[JOB_COMPLETED_STATUS] OFF
/****** Object:  Table [dbo].[TEMP_CARD_MAPPING]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[APP_VERSION]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_MFPS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_USER_GROUPS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_JOB_TRACKER]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_PRICE_PROFILES]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_SMTP_SETTINGS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_COUNTRIES]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[M_COUNTRIES] ON
INSERT [dbo].[M_COUNTRIES] ([COUNTRY_ID], [COUNTRY_NAME], [COUNTRY_DEFAULT], [REC_ACTIVE], [REC_USER], [REC_DATE]) VALUES (-1, N'', 0, 1, 0, NULL)
INSERT [dbo].[M_COUNTRIES] ([COUNTRY_ID], [COUNTRY_NAME], [COUNTRY_DEFAULT], [REC_ACTIVE], [REC_USER], [REC_DATE]) VALUES (19, N'Afghanistan', 0, 0, 0, NULL)
INSERT [dbo].[M_COUNTRIES] ([COUNTRY_ID], [COUNTRY_NAME], [COUNTRY_DEFAULT], [REC_ACTIVE], [REC_USER], [REC_DATE]) VALUES (20, N'Albania', 0, 1, 0, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[M_COUNTRIES] OFF
/****** Object:  Table [dbo].[T_ACCESS_RIGHTS]    Script Date: 04/19/2012 18:05:00 ******/
--SET IDENTITY_INSERT [dbo].[T_ACCESS_RIGHTS] ON
--INSERT [dbo].[T_ACCESS_RIGHTS] ([REC_ID], [ASSIGN_ON], [ASSIGN_TO], [MFP_OR_GROUP_ID], [USER_OR_COSTCENTER_ID], [USR_SOURCE]) VALUES (1, N'MFP Groups', N'Cost Center', N'Default', N'Default', N'DB')
--SET IDENTITY_INSERT [dbo].[T_ACCESS_RIGHTS] OFF
/****** Object:  Table [dbo].[APP_IMAGES]    Script Date: 04/19/2012 18:05:00 ******/
SET IDENTITY_INSERT [dbo].[APP_IMAGES] ON
SET IDENTITY_INSERT [dbo].[APP_IMAGES] OFF
/****** Object:  Table [dbo].[T_JOB_TRANSMITTER]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[M_JOB_TYPES]    Script Date: 04/19/2012 18:05:00 ******/

INSERT [dbo].[M_JOB_TYPES] ([JOB_ID], [ITEM_ORDER]) VALUES (N'Copy Color', 1)
INSERT [dbo].[M_JOB_TYPES] ([JOB_ID], [ITEM_ORDER]) VALUES (N'Copy BW', 2)
INSERT [dbo].[M_JOB_TYPES] ([JOB_ID], [ITEM_ORDER]) VALUES (N'Print Color', 3)

/****** Object:  Table [dbo].[T_ASSGIN_COST_PROFILE_MFPGROUPS]    Script Date: 04/19/2012 18:05:00 ******/

INSERT [dbo].[T_JOB_PERMISSIONS_LIMITS] ([COSTCENTER_ID],[USER_ID], [PERMISSIONS_LIMITS_ON], [JOB_TYPE], [JOB_LIMIT], [JOB_USED], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (1,-1, 0, N'Copy BW', 100, 0, 0, 0, 1)
INSERT [dbo].[T_JOB_PERMISSIONS_LIMITS] ([COSTCENTER_ID],[USER_ID], [PERMISSIONS_LIMITS_ON], [JOB_TYPE], [JOB_LIMIT], [JOB_USED], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (1,-1, 0, N'Copy Color', 50, 0, 0, 0, 1)
INSERT [dbo].[T_JOB_PERMISSIONS_LIMITS] ([COSTCENTER_ID],[USER_ID], [PERMISSIONS_LIMITS_ON], [JOB_TYPE], [JOB_LIMIT], [JOB_USED], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (1,-1, 0, N'Doc Filing Print BW', 100, 0, 0, 0, 1)

	




INSERT [dbo].[M_JOB_CATEGORIES] ([JOB_ID], [ITEM_ORDER]) VALUES (N'Copy', 1)
INSERT [dbo].[M_JOB_CATEGORIES] ([JOB_ID], [ITEM_ORDER]) VALUES (N'Doc Filing Scan', 5)
INSERT [dbo].[M_JOB_CATEGORIES] ([JOB_ID], [ITEM_ORDER]) VALUES (N'Fax', 4)

/*update APP_SETTINGS set REC_ACTIVE=0 where APPSETNG_RESX_ID='TIME_OUT'*/

/****** Object:  Table [dbo].[T_JOB_PERMISSIONS_LIMITS_AUTOREFILL]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_JOB_DISPATCHER]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[SQL_EXECUTION]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_AUTOREFILL_LIMITS]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_JOB_USAGE_PAPERSIZE]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_JOB_LOG]    Script Date: 04/19/2012 18:05:00 ******/
/****** Object:  Table [dbo].[T_PRINT_JOBS]    Script Date: 04/19/2012 18:05:00 ******/


/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] ON
INSERT [dbo].[LOG_CATEGORIES] ([REC_SYSID], [LOG_TYPE], [REC_STATUS]) VALUES (1, N'Success', 1)
INSERT [dbo].[LOG_CATEGORIES] ([REC_SYSID], [LOG_TYPE], [REC_STATUS]) VALUES (2, N'Information', 1)
INSERT [dbo].[LOG_CATEGORIES] ([REC_SYSID], [LOG_TYPE], [REC_STATUS]) VALUES (3, N'Error', 1)
SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] OFF

DELETE FROM [dbo].[EMAIL_PRINT_SETTINGS]
GO
DELETE FROM [dbo].[EMAIL_PERMISSION_LIMITS]
GO
INSERT [dbo].[EMAIL_PERMISSION_LIMITS] ([JOB_TYPE], [JOB_LIMIT], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (N'Scan BW', 0, 0, 0, 1)
GO
INSERT [dbo].[EMAIL_PERMISSION_LIMITS] ([JOB_TYPE], [JOB_LIMIT], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (N'Doc Filing Scan Color', 0, 0, 0, 0)
GO
INSERT [dbo].[EMAIL_PERMISSION_LIMITS] ([JOB_TYPE], [JOB_LIMIT], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (N'Doc Filing Scan BW', 0, 0, 0, 0)
GO
INSERT [dbo].[EMAIL_PRINT_SETTINGS] ([SLNO], [EMAILSETTING_KEY], [EMAILSETTING_VALUE], [EMAILSETTING_DISCRIPTION]) VALUES (1, N'Send_Credintials_To', N'admin', NULL)
GO
INSERT [dbo].[EMAIL_PRINT_SETTINGS] ([SLNO], [EMAILSETTING_KEY], [EMAILSETTING_VALUE], [EMAILSETTING_DISCRIPTION]) VALUES (2, N'Email_TO', N'', NULL)
GO
INSERT [dbo].[EMAIL_PRINT_SETTINGS] ([SLNO], [EMAILSETTING_KEY], [EMAILSETTING_VALUE], [EMAILSETTING_DISCRIPTION]) VALUES (3, N'Email_CC', N'', NULL)
GO


