USE [AccountingPlusDB]
GO
declare @BuildVersion varchar(50)
declare @TableCount int
select @TableCount=count(*)  from APP_VERSION
	if(@TableCount=0)
	begin
	  set @BuildVersion = '1.1.440.0'
	end
	else
	  begin
		select @BuildVersion = VERSION from APP_VERSION
	  end

--set @BuildVersion='1.2.525.0'

if(SUBSTRING(@BuildVersion, 5, 3) >= 586 and SUBSTRING(@BuildVersion, 5, 3) <=699)
begin
	update M_USERS set USR_MY_ACCOUNT = '1';
	update T_ACCESS_RIGHTS set REC_STATUS = '1'
	INSERT [dbo].[APP_SETTINGS] ([APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES ( N'GeneralSettings', N'My Account', N'MY_ACCOUNT', N'My Account', 17, N'Enable', N'string', N'Enable,Disable', N'Enable,Disable', N'Enable', N'DROPDOWN', 1)
	INSERT [dbo].[APP_SETTINGS] ([APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES ( N'GeneralSettings', N'Quick Release for small files(< 1 mb)', N'QUICK_RELEASE_SMALL_FILES', N'Quick Release for small files(< 1 mb)', 18, N'Enable', N'string', N'Enable,Disable', N'Enable,Disable', N'Enable', N'DROPDOWN', 1)
	INSERT [dbo].[APP_SETTINGS] ([APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES (N'GeneralSettings', N'CardLogOn single swipe', N'CARDLOGON_SINGLE_SWIPE', N'CardLogOn single swipe', 19, N'Disable', N'string', N'Enable,Disable', N'Enable,Disable', N'Enable', N'DROPDOWN', 1)

	

	/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
DELETE FROM [dbo].[LOG_CATEGORIES]
--GO
/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] ON
INSERT [dbo].[LOG_CATEGORIES] ([REC_SYSID], [LOG_TYPE], [REC_STATUS]) VALUES (1, N'Success', 1)
INSERT [dbo].[LOG_CATEGORIES] ([REC_SYSID], [LOG_TYPE], [REC_STATUS]) VALUES (2, N'Information', 1)
INSERT [dbo].[LOG_CATEGORIES] ([REC_SYSID], [LOG_TYPE], [REC_STATUS]) VALUES (3, N'Error', 1)





SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] OFF

end

if(SUBSTRING(@BuildVersion, 5, 3) >= 700 and SUBSTRING(@BuildVersion, 5, 3) <=766)
begin
	INSERT [dbo].[APP_SETTINGS] ([APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES ( N'GeneralSettings', N'Quick Release for small files(< 1 mb)', N'QUICK_RELEASE_SMALL_FILES', N'Quick Release for small files(< 1 mb)', 18, N'Enable', N'string', N'Enable,Disable', N'Enable,Disable', N'Enable', N'DROPDOWN', 1)


	

	/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
DELETE FROM [dbo].[LOG_CATEGORIES]
--GO
/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] ON








SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] OFF

end

if(SUBSTRING(@BuildVersion, 5, 3) >= 767 and SUBSTRING(@BuildVersion, 5, 3) <=791)
begin
	INSERT [dbo].[APP_SETTINGS] ([APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES (N'GeneralSettings', N'CardLogOn single swipe', N'CARDLOGON_SINGLE_SWIPE', N'CardLogOn single swipe', 19, N'Disable', N'string', N'Enable,Disable', N'Enable,Disable', N'Enable', N'DROPDOWN', 1)

	

	/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
DELETE FROM [dbo].[LOG_CATEGORIES]
--GO
/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] ON








SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] OFF

end

if(SUBSTRING(@BuildVersion, 5, 3) >= 792 and SUBSTRING(@BuildVersion, 5, 3) <=840)
begin
		INSERT [dbo].[APP_SETTINGS] ([APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES (N'GeneralSettings', N'Self Registration for DB', N'SELF_REGISTRATION_DB', N'Self Registration for DB', 20, N'Enable', N'string', N'Enable,Disable', N'Enable,Disable', N'Disable', N'DROPDOWN', 1)
		

		/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
DELETE FROM [dbo].[LOG_CATEGORIES]
--GO
/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] ON








SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] OFF

end

if(SUBSTRING(@BuildVersion, 5, 3) >= 841 and SUBSTRING(@BuildVersion, 5, 3) <=903)
begin
	
	INSERT [dbo].[APP_SETTINGS] ([APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES (N'GeneralSettings', N'Action for Print all jobs on login', N'PRINT_ALL_ON_LOGIN', N'Action for Print all jobs on login', 22, N'None', N'string', N'None,Print and Delete,Print', N'None,Print and Delete,Print', N'None', N'DROPDOWN', 1)
	/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
DELETE FROM [dbo].[LOG_CATEGORIES]
--GO
/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] ON








SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] OFF

end

if(SUBSTRING(@BuildVersion, 5, 3) >= 904 and SUBSTRING(@BuildVersion, 5, 3) <=942)
begin
	INSERT [dbo].[APP_SETTINGS] ([APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES (N'GeneralSettings', N'Action for Print all jobs on login', N'PRINT_ALL_ON_LOGIN', N'Action for Print all jobs on login', 22, N'None', N'string', N'None,Print and Delete,Print', N'None,Print and Delete,Print', N'None', N'DROPDOWN', 1)
	/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
DELETE FROM [dbo].[LOG_CATEGORIES]
--GO
/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] ON








SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] OFF

end

if(SUBSTRING(@BuildVersion, 5, 3) >= 943 and SUBSTRING(@BuildVersion, 5, 3) <=962)
begin
	/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
DELETE FROM [dbo].[LOG_CATEGORIES]
--GO
/****** Object:  Table [dbo].[LOG_CATEGORIES]    Script Date: 01/29/2014 15:03:48 ******/
SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] ON








SET IDENTITY_INSERT [dbo].[LOG_CATEGORIES] OFF

end

if(SUBSTRING(@BuildVersion, 5, 3) >= 963 and SUBSTRING(@BuildVersion, 5, 3) <=978)
begin

INSERT [dbo].[APP_SETTINGS] ([APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES (N'GeneralSettings', N'Pin Length', N'PIN_LENGTH', N'Pin length', 23, N'4', N'string', N'4,5,6,7,8,9,10', N'4,5,6,7,8,9,10', N'4', N'DROPDOWN', 1)

end

update T_AUTO_REFILL set AUTO_REFILL_ON = 'Every Month' , AUTO_REFILL_VALUE = '01' where AUTO_REFILL_FOR = 'U'
update T_AUTO_REFILL set AUTO_REFILL_ON = 'Every Month' , AUTO_REFILL_VALUE = '01' where AUTO_REFILL_FOR = 'C'
 
if exists(select distinct USER_ID from T_JOB_PERMISSIONS_LIMITS where USER_ID = '100') 
	begin
		update T_JOB_PERMISSIONS_LIMITS set JOB_LIMIT = '2147483647' where  COSTCENTER_ID = '-1' and USER_ID = '100' and PERMISSIONS_LIMITS_ON = '1'
	end
else
	begin
		INSERT [dbo].[T_JOB_PERMISSIONS_LIMITS] ([COSTCENTER_ID],[USER_ID], [PERMISSIONS_LIMITS_ON], [JOB_TYPE], [JOB_LIMIT], [JOB_USED], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (-1,100, 1, N'Copy BW', 2147483647, 0, 0, 0, 1)
		INSERT [dbo].[T_JOB_PERMISSIONS_LIMITS] ([COSTCENTER_ID],[USER_ID], [PERMISSIONS_LIMITS_ON], [JOB_TYPE], [JOB_LIMIT], [JOB_USED], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (-1,100, 1, N'Copy Color', 2147483647, 0, 0, 0, 1)
		INSERT [dbo].[T_JOB_PERMISSIONS_LIMITS] ([COSTCENTER_ID],[USER_ID], [PERMISSIONS_LIMITS_ON], [JOB_TYPE], [JOB_LIMIT], [JOB_USED], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (-1,100, 1, N'Doc Filing Print BW', 2147483647, 0, 0, 0, 1)
		INSERT [dbo].[T_JOB_PERMISSIONS_LIMITS] ([COSTCENTER_ID],[USER_ID], [PERMISSIONS_LIMITS_ON], [JOB_TYPE], [JOB_LIMIT], [JOB_USED], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (-1,100, 1, N'Doc Filing Print Color', 2147483647, 0, 0, 0, 1)








	end
	
	UPDATE T_JOB_LOG SET REC_DATE = JOB_START_DATE WHERE REC_DATE IS NUll or REC_DATE = ''	

if  not exists(select APPSETNG_RESX_ID from [APP_SETTINGS] where APPSETNG_KEY = 'Print Jobs via Service') 
	begin	
		INSERT [dbo].[APP_SETTINGS] ([APPSETNG_CATEGORY], [APPSETNG_KEY], [APPSETNG_RESX_ID], [APPSETNG_KEY_DESC], [APPSETNG_KEY_ORDER], [APPSETNG_VALUE], [APPSETNG_VALUE_TYPE], [ADS_LIST], [ADS_LIST_VALUES], [ADS_DEF_VALUE], [CONTROL_TYPE], [REC_ACTIVE]) VALUES ( N'GeneralSettings', N'Print Jobs via Service', N'PRINT_JOB_RELEASE', N'Print Jobs Release through service', 25, N'Disable', N'string', N'Enable,Disable', N'Enable,Disable', N'Disable', N'DROPDOWN', 0)
	end




				DELETE FROM [dbo].[EMAIL_PRINT_SETTINGS]

				DELETE FROM [dbo].[EMAIL_PERMISSION_LIMITS]

				INSERT [dbo].[EMAIL_PERMISSION_LIMITS] ([JOB_TYPE], [JOB_LIMIT], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (N'Scan BW', 0, 0, 0, 1)

				INSERT [dbo].[EMAIL_PERMISSION_LIMITS] ([JOB_TYPE], [JOB_LIMIT], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (N'Doc Filing Scan Color', 0, 0, 0, 0)

				INSERT [dbo].[EMAIL_PERMISSION_LIMITS] ([JOB_TYPE], [JOB_LIMIT], [ALERT_LIMIT], [ALLOWED_OVER_DRAFT], [JOB_ISALLOWED]) VALUES (N'Doc Filing Scan BW', 0, 0, 0, 0)










				INSERT [dbo].[EMAIL_PRINT_SETTINGS] ([SLNO], [EMAILSETTING_KEY], [EMAILSETTING_VALUE], [EMAILSETTING_DISCRIPTION]) VALUES (1, N'Send_Credintials_To', N'admin', NULL)

				INSERT [dbo].[EMAIL_PRINT_SETTINGS] ([SLNO], [EMAILSETTING_KEY], [EMAILSETTING_VALUE], [EMAILSETTING_DISCRIPTION]) VALUES (2, N'Email_TO', N'', NULL)

				INSERT [dbo].[EMAIL_PRINT_SETTINGS] ([SLNO], [EMAILSETTING_KEY], [EMAILSETTING_VALUE], [EMAILSETTING_DISCRIPTION]) VALUES (3, N'Email_CC', N'', NULL)










