<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceWatchTime" value="60000"/>
    <add key="DBConnection" value="server=solutionswebsrv; Initial Catalog=AccountingPlus12;user Id=sa; Password=sa;"/>
    <add key="DestinationPath" value="E:\AccountingPlusPrints"/>
    <add key="folderName" value="email"/>
    <add key="EmailMoniteringInterval" value="60000"/>
    <add key="EmailCountPath" value="E:\CVS_Accounting\MX-AccountingPlus\AppData"/>
    <add key="EnableSMTPSSL" value="true" />
    
  </appSettings>

  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
