#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x0B, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


10109 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Tietokantapalvelin",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Valitse tietokantapalvelin ja todentamismenetelmä.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"T&ietokantapalvelin, johon asennusta suoritetaan:",-1,16,63,301,11
	COMBOBOX	17815,16,74,247,80,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
	PUSHBUTTON	"S&elaa...",31,270,73,50,14
	LTEXT		"Muodosta yhteys käyttäen kohtaa:",901,16,91,296,11,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&Kirjautumistunnus:",-1,36,128,63,9
	EDITTEXT	301,100,126,164,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Salasana:",-1,36,142,56,9
	EDITTEXT	305,100,140,164,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"< &Edellinen",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Seuraava >",1,215,196,50,14
	PUSHBUTTON	"Peruuta",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,58,196,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10108 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Edellinen",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Seuraava >",1,215,196,50,14
	PUSHBUTTON	"Peruuta",9,272,196,50,14
	LTEXT		"Kirjoita kirjautumiseen vaadittava käyttäjätunnus ja salasana.",901,16,40,296,32,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Tietokantapalvelimen kirjautuminen ",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Tietokantapalvelin vaatii kirjautumisoikeudet, jotta jatkaminen on mahdollista.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"&Kirjautumistunnus:",-1,16,76,296,9
	EDITTEXT	301,16,88,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Salasana:",-1,16,112,293,9
	EDITTEXT	305,16,123,298,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"C",2,46,195,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12054 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"&Käyttäjänimi:",-1,19,40,85,9
	EDITTEXT	301,19,53,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"Y&rityksen nimi:",-1,19,75,100,9
	EDITTEXT	302,19,88,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"Asenna sovellus:",304,19,115,298,8
	CONTROL		"&Kaikille tietokoneen käyttäjille (kaikki käyttäjät)",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,96,132,232,11
	CONTROL		"Vain &minulle (<USERNAME>)",1002,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,96,148,232,11
	PUSHBUTTON	"< &Edellinen",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Seuraava >",1,215,196,50,14
	PUSHBUTTON	"Peruuta",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Asiakastiedot",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Kirjoita omat tietosi.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"P",2,188,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


10105 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36,,NOT WS_GROUP
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"""Valitse asennettavat ominaisuudet. Poista niiden ominaisuuksien valinta, joita et halua asentaa.  Jatka napsauttamalla Seuraava.""",901,16,40,293,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"Ominaisuus1",601,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,16,65,152,12
	CONTROL		"Ominaisuus2",602,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,80,152,12
	CONTROL		"Ominaisuus3",603,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,95,152,12
	CONTROL		"Ominaisuus4",604,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,110,152,12
	CONTROL		"Ominaisuus5",605,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,126,152,12
	CONTROL		"Ominaisuus6",606,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,65,144,12
	CONTROL		"Ominaisuus7",607,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,80,144,12
	CONTROL		"Ominaisuus8",608,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,95,144,12
	CONTROL		"Ominaisuus9",609,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,110,144,12
	PUSHBUTTON	"< &Edellinen",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Seuraava >",1,215,196,50,14
	PUSHBUTTON	"Peruuta",9,272,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Valitse tarpeisiisi parhaiten sopiva asennustyyppi.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Asennustyyppi",50,10,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"P",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12030 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"&Seuraava >",1,218,196,50,14
	PUSHBUTTON	"Peruuta",9,272,196,50,14
	EDITTEXT	301,16,79,298,97,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER | WS_HSCROLL,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Edellinen",12,166,196,50,14,WS_GROUP
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Nykyiset asetukset:",701,16,68,134,8
	LTEXT		"""Asennusohjelma on saanut tarvittavat tiedot ja voi aloittaa tiedostojen kopioimisen.  Jos haluat tarkistaa tai muuttaa asetuksia, napsauta Edellinen-painiketta.  Jos olet tyytyväinen asetuksiin, aloita tiedostojen kopioiminen napsauttamalla Seuraava.""",711,16,40,298,25,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Tarkista asetukset ennen tiedostojen kopioimista.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Aloita tiedostojen kopioiminen",50,10,3,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	PUSHBUTTON	"P",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


10201 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128""",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Seuraava >",1,216,196,50,14,WS_GROUP
	PUSHBUTTON	"Peruuta",9,272,196,50,14
	PUSHBUTTON	"Sel&aa...",31,260,155,50,14
	PUSHBUTTON	"< &Edellinen",12,166,196,50,14
	LTEXT		"%P asennetaan seuraavaan kansioon.\n\nAsenna tähän kansioon napsauttamalla Seuraava. Asenna toiseen kansioon napsauttamalla Selaa ja valitsemalla haluamasi kansio.",202,16,40,298,80,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product\\suite\\version",201,23,160,220,8,ES_AUTOHSCROLL | SS_NOPREFIX | SS_LEFTNOWORDWRAP
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Valitse kohde",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"""Valitse kansio, johon asennusohjelma tallentaa tiedostot.""",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	GROUPBOX	"Kohdekansio",-1,16,145,298,32,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"P",2,32,196,23,12,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12053 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"Pois&ta",1,219,196,50,14
	PUSHBUTTON	"Peruuta",9,272,196,50,14
	PUSHBUTTON	"< &Edellinen",12,166,196,50,14
	LTEXT		"Tervetuloa",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"""Muokkaa, korjaa tai poista ohjelma.""",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"P",2,160,256,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12069 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",301,"RICHEDIT",ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,19,44,298,102,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Edellinen",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Seuraava >",1,215,196,50,14
	PUSHBUTTON	"Peruuta",9,272,196,50,14
	LTEXT		"Lisenssisopimus",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Lue seuraava lisenssisopimus huolellisesti.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"P",2,93,198,23,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"&Hyväksyn lisenssisopimuksen ehdot.",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,19,153,245,10
	CONTROL		"En &hyväksy lisenssisopimuksen ehtoja.",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,19,165,245,10
	PUSHBUTTON	"&Tulosta",10,264,152,50,14
END


12066 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	PUSHBUTTON	"Peruuta",9,272,196,50,14
	LTEXT		"Lisenssisopimus",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Lue seuraava lisenssisopimus huolellisesti.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"P",2,93,198,23,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"&Hyväksyn lisenssisopimuksen ehdot.",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,19,153,244,10
	CONTROL		"En &hyväksy lisenssisopimuksen ehtoja.",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,19,165,244,10
	PUSHBUTTON	"&Tulosta",10,272,152,50,14
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	EDITTEXT	301,19,44,298,102,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Edellinen",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Seuraava >",1,215,196,50,14
END


