#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x09, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


10105 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36,,NOT WS_GROUP
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"""Select the features you want to install, and deselect the features you do not want to install.  Click Next to continue.""",901,16,40,293,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"Option1",601,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,16,65,152,12
	CONTROL		"Option2",602,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,80,152,12
	CONTROL		"Option3",603,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,95,152,12
	CONTROL		"Option4",604,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,110,152,12
	CONTROL		"Option5",605,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,126,152,12
	CONTROL		"Option6",606,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,65,144,12
	CONTROL		"Option7",607,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,80,144,12
	CONTROL		"Option8",608,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,95,144,12
	CONTROL		"Option9",609,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,110,144,12
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Select the setup type that best suits your needs.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
	LTEXT		"Setup Type",50,10,3,220,8,0,WS_EX_TRANSPARENT
END


10108 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"Specify a SQL Login ID and Password.",901,16,40,296,32,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Database Server Login ",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Database server requires login credentials to continue.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"&Login ID:",-1,16,76,74,9
	EDITTEXT	301,16,88,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Password:",-1,16,112,87,9
	EDITTEXT	305,16,123,298,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"C",2,46,195,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10109 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Database Server",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select database server and authentication method.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"&Database server that you are installing to:",-1,17,62,132,11
	COMBOBOX	17815,16,74,247,80,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
	PUSHBUTTON	"Browse...",31,270,73,50,14
	LTEXT		"Connect using:",901,16,91,296,11,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&Login ID:",-1,30,106,48,9
	EDITTEXT	301,78,104,179,12,ES_LEFT | WS_GROUP
	LTEXT		"&Password:",-1,30,120,46,9
	EDITTEXT	305,78,118,179,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP
	PUSHBUTTON	"< &Back",12,158,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,217,196,50,14
	PUSHBUTTON	"Cancel",9,276,196,50,14
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"",17836,18,75,169,10,,NOT WS_GROUP,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,58,196,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10201 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128""",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Next >",1,216,196,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"B&rowse...",31,260,155,50,14
	PUSHBUTTON	"< &Back",12,166,196,50,14
	LTEXT		"""Setup will install %P in the following folder.\n\nTo install to this folder, click Next. To install to a different folder, click Browse and select another folder.""",202,16,40,298,80,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product\\suite\\version",201,23,160,220,8,ES_AUTOHSCROLL | SS_NOPREFIX | SS_LEFTNOWORDWRAP
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Choose Destination Location",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select folder where setup will install files.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,32,196,23,12,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
	GROUPBOX	"Destination Folder",-1,16,145,298,32,NOT WS_TABSTOP | 0x40000000
END


12005 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,274,196,50,14
	PUSHBUTTON	"B&rowse...",196,259,156,50,14
	PUSHBUTTON	"< &Back",12,156,196,50,14
	LTEXT		"Setup will install %P in the following folder.\n\nTo install to this folder, click Next. To install to a different folder, click Browse and select another folder.",718,17,40,284,56,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product\\suite\\version",715,23,160,222,9,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Choose Destination Location",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select folder where setup will install files.",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	GROUPBOX	"Destination Folder",-1,17,145,298,32,NOT WS_TABSTOP | 0x40000000
END


12006 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"&Next >",1,212,195,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,270,195,50,14
	PUSHBUTTON	"< &Back",12,153,195,50,14,WS_DISABLED
	LTEXT		"The InstallShield Wizard will install %P on your computer.  To continue, click Next.",710,127,50,185,40,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,0,186,332,1
	CONTROL		103,551,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE,0,0,110,185
	LTEXT		"",52,110,0,221,185
	LTEXT		"Welcome to the InstallShield Wizard for %P",50,127,19,185,28,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"@10553,10553;1;0;;0,128,128   ",1200,10,10,84,36
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12030 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"&Install",1,218,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	EDITTEXT	301,16,79,298,97,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER | WS_HSCROLL,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Current Settings:",701,16,68,134,8
	LTEXT		"""Setup has enough information to start copying the program files.  If you want to review or change any settings, click Back.  If you are satisfied with the settings, click Next to begin copying files.""",711,16,40,298,25,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Review settings before copying files.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
	LTEXT		"Start Copying Files",50,10,3,220,8,0,WS_EX_TRANSPARENT
END


12032 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,110,0,221,185
	CONTROL		"Yes, I want to view the ReadMe file.",501,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,117,76,198,12
	CONTROL		"Yes, I want to launch %p now.",502,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,117,92,198,16
	LTEXT		"",712,117,113,198,56,ES_AUTOHSCROLL | SS_NOPREFIX
	PUSHBUTTON	"< &Back",12,156,197,50,14,WS_GROUP
	DEFPUSHBUTTON	"Finish",1,214,197,50,14
	PUSHBUTTON	"Cancel",9,273,197,50,14,WS_DISABLED
	LTEXT		"The InstallShield Wizard has successfully installed %P.  Click Finish to exit the wizard.",711,117,34,198,40,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"InstallShield Wizard Complete",50,117,10,198,16,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,0,186,332,1
	CONTROL		103,551,"Static",SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE,0,0,110,185
	LTEXT		"@10553,10553;1;0;;0,128,128   ",1200,10,10,84,36
END


12053 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Remove",1,219,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"< &Back",12,166,196,50,14
	LTEXT		"Welcome",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Remove the program.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,160,256,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12054 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"&User Name:",-1,16,40,74,9
	EDITTEXT	301,16,53,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Company Name:",-1,16,75,87,9
	EDITTEXT	302,16,88,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"Install this application for:",304,16,115,298,8
	CONTROL		"&Anyone who uses this computer (all users)",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,84,132,232,11
	CONTROL		"Only for &me (<USERNAME>)",1002,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,84,149,232,11
	PUSHBUTTON	"< &Back",12,158,198,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,217,198,50,14
	PUSHBUTTON	"Cancel",9,276,198,50,14
	LTEXT		"""@10550,10551;1;0;;0,128,128""",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Customer Information",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Please enter your information.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12055 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"&User Name:",-1,17,40,296,9
	EDITTEXT	301,17,54,298,13,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Company Name:",-1,17,72,296,9
	EDITTEXT	302,17,86,298,13,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Serial Number:",-1,17,104,296,9
	EDITTEXT	303,17,118,298,13,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"Install this application for:",304,17,139,298,8
	CONTROL		"&Anyone who uses this computer (all users)",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,84,152,232,11
	CONTROL		"Only for &me (<USERNAME>)",1002,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,84,170,232,11
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Customer Information",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Please enter your information.",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12066 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	PUSHBUTTON	"Cancel",9,272,196,50,14
	LTEXT		"License Agreement",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Please read the following license agreement carefully.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,80,198,20,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"I &accept the terms of the license agreement",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,16,147,244,11
	CONTROL		"I &do not accept the terms of the license agreement",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,16,159,244,11
	PUSHBUTTON	"&Print",10,272,152,50,14
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	EDITTEXT	301,16,44,298,97,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
END


12067 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"Install %P to:",718,50,43,217,8,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"&Change...",196,272,53,50,14
	PUSHBUTTON	"< &Back",12,166,196,50,14
	LTEXT		"c:\\path\\company\\product\\suite\\version",715,50,55,217,9,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Choose Destination Location",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select folder where setup will install files.",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	ICON		10006,1001,18,43,21,20
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12068 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"&Install",1,214,196,50,14
	PUSHBUTTON	"Cancel",9,273,196,50,14
	PUSHBUTTON	"< &Back",12,156,196,50,14,WS_GROUP
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Click Install to begin the installation.\n\nIf you want to review or change any of your installation settings, click Back. Click Cancel to exit the wizard.",711,17,40,298,137,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"The wizard is ready to begin installation.",51,17,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"Ready to Install the Program",50,10,3,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12069 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",301,"RICHEDIT",ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,16,44,298,102,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Back",12,156,195,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,195,50,14
	PUSHBUTTON	"Cancel",9,274,195,50,14
	LTEXT		"License Agreement",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Please read the following license agreement carefully.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,80,198,20,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"I &accept the terms of the license agreement",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,16,152,245,11
	CONTROL		"I &do not accept the terms of the license agreement",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,16,164,245,11
	PUSHBUTTON	"&Print",10,264,152,50,14
END


10299 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	DEFPUSHBUTTON	"&Next >",1,218,196,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,276,196,50,14
	PUSHBUTTON	"< &Back",12,159,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"DataBase Type",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select Database Type to create a new database or to share the existing database.",51,17,13,201,21,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,SS_LEFTNOWORDWRAP,WS_EX_TRANSPARENT
	CONTROL		"New AccountingPlus Database",1322,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,29,48,260,12
	CONTROL		"Use Existing AccountingPlus Database",1323,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,29,112,224,11
	LTEXT		"Installs new AccountingPlus Database ""AccountingPlusDB"" on selected server",1324,39,67,281,31,,NOT WS_GROUP,WS_EX_TRANSPARENT
	LTEXT		"Uses Existing AccountingPlus Database ""AccountingPlusDB"" on selected server. Only Web Applications and Windows Services will be installed. ",1325,39,131,278,34,,NOT WS_GROUP,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


10489 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Next >",1,214,196,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,273,196,50,14
	PUSHBUTTON	"< &Back",12,156,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,289,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Server Type",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select Server Type to create a new SQL instance or to use the existing SQL Instance.",51,17,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"Create New SQL Server Instance",1322,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,32,56,260,12
	CONTROL		"Use Existing SQL Server Instance.",1324,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,30,116,224,11
	LTEXT		"Installs SQL Server 2008R2 Express with a Instance name ""ISPSERVER""  and Creates database ""iSignagePlus""",1323,44,77,276,29,,NOT WS_GROUP,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Creates database ""iSignagePlus"" on existing SQL Instance in local or remote machine. ",1325,44,134,276,28,,NOT WS_GROUP,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END




/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
10006		ICON	"E:\\Projects\\MXAccountingPlusCode\\MX-AccountingPlus\\Packaging\\MXAccountingPlus\\IconId_10006_1.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//
103		BITMAP	"C:\\Program Files\\InstallShield\\2010\\Script\\Dialogs\\BitmapId_103.bmp"
