#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x0E, SUBLANG_DEFAULT
#pragma code_page(1250)
#endif


10109 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Adatbázis-kiszolgáló",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Válassza ki az adatbázis-kiszolgálót és a hitelesítési módot.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"&Adatbázis-kiszolgáló, amelyre Ön telepít:",-1,16,63,301,11
	COMBOBOX	17815,16,74,247,80,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
	PUSHBUTTON	"Talló&zás...",31,270,73,50,14
	LTEXT		"Csatlakozás a következõ használatával:",901,16,91,296,11,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&Bejelentkezési azonosító:",-1,36,128,84,9
	EDITTEXT	301,122,126,142,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Jelszó:",-1,36,142,77,9
	EDITTEXT	305,122,140,142,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"< &Vissza",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Következõ >",1,215,196,50,14
	PUSHBUTTON	"Mégse",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,58,196,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10108 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Vissza",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Következõ >",1,215,196,50,14
	PUSHBUTTON	"Mégse",9,272,196,50,14
	LTEXT		"Adja meg a bejelentkezéshez használandó felhasználónevet és jelszót.",901,16,40,296,32,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Bejelentkezés adatbázis-kiszolgálóba ",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"A folytatáshoz meg kell adni a hitelesíto adatokat az adatbázis-kiszolgáló számára.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"&Bejelentkezési azonosító:",-1,16,76,298,9
	EDITTEXT	301,16,88,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Jelszó:",-1,16,112,288,9
	EDITTEXT	305,16,123,298,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"C",2,46,195,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12054 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"&Felhasználónév:",-1,19,40,85,9
	EDITTEXT	301,19,53,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Cégnév:",-1,19,75,100,9
	EDITTEXT	302,19,88,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"Alkalmazás telepítése:",304,19,115,298,8
	CONTROL		"&Bárkinek aki használja ezt a számítógépet (minden felhasználó)",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,96,132,232,11
	CONTROL		"Csak &nekem <USERNAME>",1002,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,96,148,232,11
	PUSHBUTTON	"< &Vissza",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Tovább >",1,215,196,50,14
	PUSHBUTTON	"Mégse",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"A felhasználó adatai",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Kérem, írja be az adatait.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,188,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


10105 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36,,NOT WS_GROUP
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"""Jelölje ki a telepítendõ komponenseket, és szüntesse meg azok kijelölését, amelyeket nem kíván telepíteni. A folytatáshoz kattintson a Tovább gombra.""",901,16,40,293,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"Lehetõség1",601,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,16,65,152,12
	CONTROL		"Lehetõség2",602,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,80,152,12
	CONTROL		"Lehetõség3",603,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,95,152,12
	CONTROL		"Lehetõség4",604,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,110,152,12
	CONTROL		"Lehetõség5",605,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,126,152,12
	CONTROL		"Lehetõség6",606,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,65,144,12
	CONTROL		"Lehetõség7",607,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,80,144,12
	CONTROL		"Lehetõség8",608,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,95,144,12
	CONTROL		"Lehetõség9",609,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,110,144,12
	PUSHBUTTON	"< &Vissza",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Tovább >",1,215,196,50,14
	PUSHBUTTON	"Mégse",9,272,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"""Válassza ki azt a telepítési típust, amely legjobban megfelel igényeinek.""",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"A telepítés típusa",50,10,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12030 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"&Tovább >",1,218,196,50,14
	PUSHBUTTON	"Mégse",9,272,196,50,14
	EDITTEXT	301,16,79,298,97,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER | WS_HSCROLL,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Vissza",12,166,196,50,14,WS_GROUP
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Aktuális beállítások:",701,16,68,134,8
	LTEXT		"""A telepítõ elegendõ információval rendelkezik a telepítés megkezdéséhez. Ha ellenõrizni vagy módosítani kívánja bármelyik beállítást, kattintson a Vissza gombra. Ha a beállítások megfelelõek, kattintson a Tovább gombra. Ezzel elindítja a fájlmásolást.""",711,16,40,298,25,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Ellenõrizze a beállításokat a másolás megkezdése elõtt.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Fájlmásolás indítása",50,10,3,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


10201 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128""",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Tovább >",1,216,196,50,14,WS_GROUP
	PUSHBUTTON	"Mégse",9,272,196,50,14
	PUSHBUTTON	"&Tallózás...",31,260,155,50,14
	PUSHBUTTON	"< &Vissza",12,166,196,50,14
	LTEXT		"""A telepítõ a(z) %P programot a következõ mappába telepíti.\n\nHa ebbe a mappába akar telepíteni, akkor kattintson a Tovább gombra. Ha másik mappába akar telepíteni, akkor kattintson a Tallózás gombra, majd válassza ki a mappát.""",202,16,40,298,80,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product\\suite\\version",201,23,160,220,8,ES_AUTOHSCROLL | SS_NOPREFIX | SS_LEFTNOWORDWRAP
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Válassza ki a célhelyet.",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"""Válassza ki azt a mappát, amelybe a telepítõ a fájlokat helyezi.""",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	GROUPBOX	"Célmappa",-1,16,145,298,32,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",2,32,196,23,12,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12053 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Eltávolítás",1,219,196,50,14
	PUSHBUTTON	"Mégse",9,272,196,50,14
	PUSHBUTTON	"< &Vissza",12,166,196,50,14
	LTEXT		"Üdvözöljük.",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"""A program módosítása, javítása vagy eltávolítása""",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,160,256,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12069 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",301,"RICHEDIT",ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,19,44,298,102,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Vissza",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Tovább >",1,215,196,50,14
	PUSHBUTTON	"Mégse",9,272,196,50,14
	LTEXT		"Licencszerzõdés",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Olvassa el figyelmesen az alábbi licencszerzõdést.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,93,198,23,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"Elfogadom a licencszerzõdés tételeit.",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,19,153,245,10
	CONTROL		"Nem fogadom el a licencszerzõdés tételeit.",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,19,165,245,10
	PUSHBUTTON	"&Nyomtatás",10,264,152,50,14
END


12066 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	PUSHBUTTON	"Mégse",9,272,196,50,14
	LTEXT		"Licencszerzõdés",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Olvassa el figyelmesen az alábbi licencszerzõdést.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,93,198,23,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"Elfogadom a licencszerzõdés tételeit.",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,19,153,244,10
	CONTROL		"Nem fogadom el a licencszerzõdés tételeit.",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,19,165,244,10
	PUSHBUTTON	"&Nyomtatás",10,272,152,50,14
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	EDITTEXT	301,19,44,298,102,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Vissza",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Tovább >",1,215,196,50,14
END


