#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x06, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


10109 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Databaseserver",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Vælg databaseserver og autentificeringsmetode.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"Den databa&seserver, du installerer til:",-1,16,63,301,11
	COMBOBOX	17815,16,74,247,80,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
	PUSHBUTTON	"G&ennemse...",31,270,73,50,14
	LTEXT		"Opret forbindelse med:",901,16,91,296,11,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&Logon-id:",-1,36,128,48,9
	EDITTEXT	301,91,126,173,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Adgangskode:",-1,36,142,51,9
	EDITTEXT	305,91,140,173,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"< &Tilbage",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Næste >",1,215,196,50,14
	PUSHBUTTON	"Annuller",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,58,196,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10108 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Tilbage",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Næste >",1,215,196,50,14
	PUSHBUTTON	"Annuller",9,272,196,50,14
	LTEXT		"Indtast det brugernavn og den adgangskode, der skal bruges til at logge på med.",901,16,40,296,32,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Logon på databaseserver ",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Databaseserveren kræver logon for at fortsætte.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"&Logon-id:",-1,16,76,295,9
	EDITTEXT	301,16,88,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Adgangskode:",-1,16,112,296,9
	EDITTEXT	305,16,123,298,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"C",2,46,195,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12054 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"Brugern&avn:",-1,19,40,85,9
	EDITTEXT	301,19,53,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Firma:",-1,19,75,100,9
	EDITTEXT	302,19,88,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"Installer dette program til:",304,19,115,298,8
	CONTROL		"&Alle, der bruger denne computer (alle brugere)",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,96,132,232,11
	CONTROL		"Kun &mig (<USERNAME>)",1002,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,96,148,232,11
	PUSHBUTTON	"< &Tilbage",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Næste >",1,215,196,50,14
	PUSHBUTTON	"Annuller",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Kundeoplysninger",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Angiv oplysningerne.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,188,225,56,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


10105 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36,,NOT WS_GROUP
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"""Vælg de funktioner, du vil installere, og fravælg de funktioner, du ikke vil installere. Klik på Næste for at fortsætte.""",901,16,40,293,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"Option1",601,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,16,65,152,12
	CONTROL		"Option2",602,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,80,152,12
	CONTROL		"Option3",603,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,95,152,12
	CONTROL		"Option4",604,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,110,152,12
	CONTROL		"Option5",605,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,126,152,12
	CONTROL		"Option6",606,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,65,144,12
	CONTROL		"Option7",607,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,80,144,12
	CONTROL		"Option8",608,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,95,144,12
	CONTROL		"Option9",609,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,110,144,12
	PUSHBUTTON	"< &Tilbage",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Næste >",1,215,196,50,14
	PUSHBUTTON	"Annuller",9,272,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"""Vælg den installationstype, der passer bedst til dine behov.""",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Installationstype",50,10,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12030 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"&Næste >",1,218,196,50,14
	PUSHBUTTON	"Annuller",9,272,196,50,14
	EDITTEXT	301,16,79,298,97,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER | WS_HSCROLL,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Tilbage",12,166,196,50,14,WS_GROUP
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Aktuelle indstillinger.",701,16,68,134,8
	LTEXT		"""Installationsprogrammet har tilstrækkelige oplysninger til at kopiere programfilerne. Klik på Tilbage, hvis du vil kontrollere eller ændre indstillingerne. Klik på Næste for at kopiere filerne, hvis du er tilfreds med indstillingerne.""",711,16,40,298,25,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"""Gennemse indstillingerne, før filerne kopieres.""",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Begynd kopieringen af filerne",50,10,3,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


10201 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128""",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Næste >",1,216,196,50,14,WS_GROUP
	PUSHBUTTON	"Annuller",9,272,196,50,14
	PUSHBUTTON	"&Gennemse...",31,260,155,50,14
	PUSHBUTTON	"< &Tilbage",12,166,196,50,14
	LTEXT		"""Installationsprogrammet installerer %P i følgende mappe.\n\nKlik på Næste for at installere programmet i denne mappe. Klik på Gennemse, og vælg en mappe for at installere programmet i en anden mappe.""",202,16,40,298,80,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product\\suite\\version",201,23,160,220,8,ES_AUTOHSCROLL | SS_NOPREFIX | SS_LEFTNOWORDWRAP
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Vælg destinationsmappe",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"""Vælg den mappe, hvor installationsprogrammet skal installere filerne.""",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	GROUPBOX	"Destinationsmappe",-1,16,145,298,32,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",2,32,196,23,12,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12053 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Fjern",1,219,196,50,14
	PUSHBUTTON	"Annuller",9,272,196,50,14
	PUSHBUTTON	"< &Tilbage",12,166,196,50,14
	LTEXT		"Velkommen",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"""Rediger, reparer eller fjern programmet.""",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,160,256,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12069 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",301,"RICHEDIT",ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,19,44,298,102,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Tilbage",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Næste >",1,215,196,50,14
	PUSHBUTTON	"Annuller",9,272,196,50,14
	LTEXT		"Licensaftale",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Læs følgende licensaftale.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,93,198,23,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"Jeg &accepterer betingelserne i licensaftalen",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,19,153,245,10
	CONTROL		"Jeg accepterer &ikke betingelserne i licensaftalen",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,19,165,245,10
	PUSHBUTTON	"&Udskriv",10,264,152,50,14
END


12066 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	PUSHBUTTON	"Annuller",9,272,196,50,14
	LTEXT		"Licensaftale",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Læs følgende licensaftale.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,93,198,23,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"Jeg &accepterer betingelserne i licensaftalen",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,19,153,244,10
	CONTROL		"Jeg accepterer &ikke betingelserne i licensaftalen",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,19,165,244,10
	PUSHBUTTON	"&Udskriv",10,272,152,50,14
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	EDITTEXT	301,19,44,298,102,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Tilbage",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Næste >",1,215,196,50,14
END


