#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x04, SUBLANG_DEFAULT
#pragma code_page(936)
#endif


10109 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 9,"??ì?",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"数据库服务器",50,9,3,220,10,0,WS_EX_TRANSPARENT
	LTEXT		"选择数据库服务器和验证方法。",51,17,14,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"您要安装到的数据库服务器(&D):",-1,17,63,301,11
	COMBOBOX	17815,17,74,247,80,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
	PUSHBUTTON	"浏览(&R)...",31,270,73,50,14
	LTEXT		"连接时使用：",901,17,91,297,11,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"登录 ID(&L)：",-1,36,128,48,9
	EDITTEXT	301,85,126,178,13,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"密码(&P)：",-1,36,142,46,9
	EDITTEXT	305,85,140,178,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"< 上一步(&B)",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"下一步(&N) >",1,215,196,50,14
	PUSHBUTTON	"取消",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,41,186,289,1
	LTEXT		"",7,2,181,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,50,194,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10108 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 9,"??ì?",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< 上一步(&B)",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"下一步(&N) >",1,215,196,50,14
	PUSHBUTTON	"取消",9,272,196,50,14
	LTEXT		"输入用于登录 SQL Server 的用户名和密码。",901,17,40,297,32,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,41,186,289,1
	LTEXT		"",7,2,181,40,10,NOT WS_VISIBLE
	LTEXT		"数据库服务器登录",50,9,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"数据库服务器要求提供登录证书才会继续。",51,17,14,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"登录 ID(&L):",-1,17,77,73,9
	EDITTEXT	301,17,88,297,13,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"密码(&P)：",-1,17,112,87,9
	EDITTEXT	305,17,123,297,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"C",2,164,204,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12054 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 9,"??ì?",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"用户名(&U)：",-1,18,40,85,9
	EDITTEXT	301,18,53,297,13,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"公司名称(&C)：",-1,18,75,100,9
	EDITTEXT	302,18,88,297,13,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"给以下用户安装此应用程序:",304,18,115,297,8
	CONTROL		"使用本计算机的任何人 (所有用户)(&A)",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,96,132,221,11
	CONTROL		"只为我 (<USERNAME>)(&M)",1002,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,96,147,221,11
	PUSHBUTTON	"< 上一步(&B)",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"下一步(&N) >",1,215,196,50,14
	PUSHBUTTON	"取消",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,41,186,289,1
	LTEXT		"",7,2,181,40,10,NOT WS_VISIBLE
	LTEXT		"客户信息",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"输入您的信息。",51,18,14,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,188,225,57,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


10105 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36,,NOT WS_GROUP
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"""Select the features you want to install, and deselect the features you do not want to install.  Click Next to continue.""",901,16,40,293,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"Option1",601,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,16,65,152,12
	CONTROL		"Option2",602,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,80,152,12
	CONTROL		"Option3",603,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,95,152,12
	CONTROL		"Option4",604,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,110,152,12
	CONTROL		"Option5",605,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,126,152,12
	CONTROL		"Option6",606,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,65,144,12
	CONTROL		"Option7",607,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,80,144,12
	CONTROL		"Option8",608,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,95,144,12
	CONTROL		"Option9",609,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,110,144,12
	PUSHBUTTON	"< &Back",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Next >",1,215,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Select the setup type that best suits your needs.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Setup Type",50,10,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12030 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 9,"??ì?",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"下一步(&N) >",1,215,196,50,14
	PUSHBUTTON	"取消",9,272,196,50,14
	EDITTEXT	301,17,78,297,97,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER | WS_HSCROLL,WS_EX_TRANSPARENT
	PUSHBUTTON	"< 上一步(&B)",12,166,196,50,14,WS_GROUP
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"当前设置：",701,17,68,134,8
	LTEXT		"安装程序具有开始复制程序文件的足够信息。要查看或更改任何设置，请单击“上一步”。如果对设置满意，请单击“下一步”以开始复制文件。",711,17,40,297,25,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"复制文件前请查看设置。",51,17,14,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"",7,2,181,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"开始复制文件",50,9,3,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,41,186,289,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


10201 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128""",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Next >",1,216,196,50,14,WS_GROUP
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"B&rowse...",31,260,155,50,14
	PUSHBUTTON	"< &Back",12,166,196,50,14
	LTEXT		"""Setup will install %P in the following folder.\n\nTo install to this folder, click Next. To install to a different folder, click Browse and select another folder.""",202,16,40,298,80,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product\\suite\\version",201,23,160,220,8,ES_AUTOHSCROLL | SS_NOPREFIX | SS_LEFTNOWORDWRAP
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Choose Destination Location",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Select folder where setup will install files.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	GROUPBOX	"Destination Folder",-1,16,145,298,32,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",2,32,196,23,12,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12053 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Remove",1,219,196,50,14
	PUSHBUTTON	"Cancel",9,272,196,50,14
	PUSHBUTTON	"< &Back",12,166,196,50,14
	LTEXT		"Welcome",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Remove the program.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,160,256,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12069 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 9,"??ì?",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",301,"RICHEDIT",ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,18,45,297,102,WS_EX_TRANSPARENT
	PUSHBUTTON	"< 上一步(&B)",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"下一步(&N) >",1,215,196,50,14
	PUSHBUTTON	"取消",9,272,196,50,14
	LTEXT		"许可证协议",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"请仔细阅读下面的许可证协议。",51,18,14,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,41,186,289,1
	LTEXT		"",7,2,181,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,93,198,23,14,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"我接受许可证协议中的条款(&A)",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,18,153,237,10
	CONTROL		"我不接受许可证协议中的条款(&D)",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,18,166,233,10
	PUSHBUTTON	"打印(&P)",10,265,152,50,14
END


12066 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 9,"??ì?",0,0,0x1
BEGIN
	PUSHBUTTON	"取消",9,272,196,50,14
	LTEXT		"许可证协议",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"请仔细阅读下面的许可证协议。",51,18,14,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,41,186,289,1
	LTEXT		"",7,2,181,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,93,198,23,14,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"我接受许可证协议中的条款(&A)",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,18,153,238,10
	CONTROL		"我不接受许可证协议中的条款(&D)",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,18,166,239,10
	PUSHBUTTON	"打印(&P)",10,265,152,50,14
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	EDITTEXT	301,18,45,297,102,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,WS_EX_TRANSPARENT
	PUSHBUTTON	"< 上一步(&B)",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"下一步(&N) >",1,215,196,50,14
END


