#include <windows.h>
#include <commctrl.h>


#ifdef _WIN32
LANGUAGE 0x10, SUBLANG_DEFAULT
#pragma code_page(1252)
#endif


10109 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Server database",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Selezionare il server database e il metodo di autenticazione.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	LTEXT		"Server &Database che si sta installando in:",-1,16,63,301,11
	COMBOBOX	17815,16,74,247,80,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP,WS_EX_TRANSPARENT
	PUSHBUTTON	"S&foglia...",31,270,73,50,14
	LTEXT		"Connetti tramite:",901,16,91,296,11,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"&ID di accesso:",-1,36,128,48,9
	EDITTEXT	301,90,126,174,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Password:",-1,36,142,46,9
	EDITTEXT	305,90,140,174,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"< I&ndietro",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Avanti >",1,215,196,50,14
	PUSHBUTTON	"Annulla",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,58,196,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


10108 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"@10550,10551;1;0;;0,128,128   ",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"< I&ndietro",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Avanti >",1,215,196,50,14
	PUSHBUTTON	"Annulla",9,272,196,50,14
	LTEXT		"Inserire il nome utente e la password da utilizzare per l'accesso ad SQL Server.",901,16,40,296,32,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Accesso al server database ",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Per continuare, il server database richiede le credenziali di accesso.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"&ID di accesso:",-1,16,76,293,9
	EDITTEXT	301,16,88,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"&Password:",-1,16,112,295,9
	EDITTEXT	305,16,123,298,12,ES_PASSWORD | ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_GROUP | WS_BORDER
	PUSHBUTTON	"C",2,46,195,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12054 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"&Nome utente:",-1,19,40,85,9
	EDITTEXT	301,19,53,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"Nome &società:",-1,19,75,100,9
	EDITTEXT	302,19,88,298,12,ES_LEFT | WS_GROUP | WS_BORDER
	LTEXT		"Installa questa applicazione per:",304,19,115,298,8
	CONTROL		"&Chiunque utilizzi questo computer (tutti gli utenti)",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,96,132,232,11
	CONTROL		"Solo per &me (<USERNAME>)",1002,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,96,148,232,11
	PUSHBUTTON	"< &Indietro",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Avanti >",1,215,196,50,14
	PUSHBUTTON	"Annulla",9,272,196,50,14
	LTEXT		"@10550,10551;1;0;;0,128,128",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Informazioni sul cliente",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Digitare i propri dati.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,188,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


10105 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36,,NOT WS_GROUP
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Selezionare le funzioni da installare e deselezionare le funzioni che non si desidera installare. Scegliere Avanti per continuare.",901,16,40,293,16,ES_AUTOHSCROLL | SS_NOPREFIX
	CONTROL		"Opzione1",601,"Button",BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,16,65,152,12
	CONTROL		"Opzione2",602,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,80,152,12
	CONTROL		"Opzione3",603,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,95,152,12
	CONTROL		"Opzione4",604,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,110,152,12
	CONTROL		"Opzione5",605,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,16,126,152,12
	CONTROL		"Opzione6",606,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,65,144,12
	CONTROL		"Opzione7",607,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,80,144,12
	CONTROL		"Opzione8",608,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,95,144,12
	CONTROL		"Opzione9",609,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,110,144,12
	PUSHBUTTON	"< &Indietro",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Avanti >",1,215,196,50,14
	PUSHBUTTON	"Annulla",9,272,196,50,14
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Selezionare il tipo di installazione più adatto alle proprie esigenze.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Tipo di installazione",50,10,3,220,8,0,WS_EX_TRANSPARENT
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12030 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	DEFPUSHBUTTON	"&Avanti >",1,218,196,50,14
	PUSHBUTTON	"Annulla",9,272,196,50,14
	EDITTEXT	301,16,79,298,97,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER | WS_HSCROLL,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Indietro",12,166,196,50,14,WS_GROUP
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	LTEXT		"Impostazioni correnti:",701,16,68,134,8
	LTEXT		"""Il programma dispone di informazioni sufficienti per iniziare a copiare i file dell'applicazione.  Per rivedere o modificare qualsiasi impostazione, scegliere Indietro.  Per copiare i file con queste impostazioni, scegliere Avanti.""",711,16,40,298,25,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"Rivedi le impostazioni prima di copiare i file.",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	LTEXT		"Inizia a copiare i file",50,10,3,220,8,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	PUSHBUTTON	"C",2,164,225,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


10201 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128""",1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Avanti >",1,216,196,50,14,WS_GROUP
	PUSHBUTTON	"Annulla",9,272,196,50,14
	PUSHBUTTON	"&Sfoglia...",31,260,155,50,14
	PUSHBUTTON	"< &Indietro",12,166,196,50,14
	LTEXT		"""Questo programma installerà %P nella seguente cartella.\n\nPer eseguire l'installazione in questa cartella, scegliere Avanti. Per effettuare l'installazione in una cartella diversa, scegliere Sfoglia e selezionare un'altra cartella.""",202,16,40,298,80,ES_AUTOHSCROLL | SS_NOPREFIX
	LTEXT		"c:\\path\\company\\product\\suite\\version",201,23,160,220,8,ES_AUTOHSCROLL | SS_NOPREFIX | SS_LEFTNOWORDWRAP
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	LTEXT		"Scegliere la posizione di destinazione",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"Selezionare la cartella di installazione dei file.",51,16,15,213,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	GROUPBOX	"Cartella di destinazione",-1,16,145,298,32,NOT WS_TABSTOP | 0x40000000
	PUSHBUTTON	"C",2,32,196,23,12,NOT WS_TABSTOP | NOT WS_VISIBLE | WS_GROUP
END


12053 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	DEFPUSHBUTTON	"&Rimuovi",1,219,196,50,14
	PUSHBUTTON	"Annulla",9,272,196,50,14
	PUSHBUTTON	"< &Indietro",12,166,196,50,14
	LTEXT		"Benvenuti",50,10,3,220,8,0,WS_EX_TRANSPARENT
	LTEXT		"""Modificare, ripristinare o rimuovere il programma.""",51,16,15,213,19,ES_AUTOHSCROLL | SS_NOPREFIX,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	PUSHBUTTON	"C",2,160,256,50,14,NOT WS_TABSTOP | NOT WS_VISIBLE
END


12069 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	CONTROL		"",301,"RICHEDIT",ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,19,44,298,102,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Indietro",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Avanti >",1,215,196,50,14
	PUSHBUTTON	"Annulla",9,272,196,50,14
	LTEXT		"Contratto di licenza",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Leggere attentamente il seguente contratto di licenza.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,93,198,23,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"A&ccetto i termini del contratto di licenza",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,19,153,245,10
	CONTROL		"&Rifiuto i termini del contratto di licenza",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,19,165,245,10
	PUSHBUTTON	"Stam&pa",10,264,152,50,14
END


12066 DIALOGEX 0,0,332,218
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "InstallShield Wizard" 

FONT 8,"MS Sans Serif",0,0,0x1
BEGIN
	PUSHBUTTON	"Annulla",9,272,196,50,14
	LTEXT		"Contratto di licenza",50,11,3,253,8,0,WS_EX_TRANSPARENT
	LTEXT		"Leggere attentamente il seguente contratto di licenza.",51,19,15,244,19,0,WS_EX_TRANSPARENT
	CONTROL		"",1300,"Static",SS_BLACKFRAME | WS_GROUP,42,186,288,1
	LTEXT		"",7,2,182,40,10,NOT WS_VISIBLE
	PUSHBUTTON	"C",2,93,198,23,15,NOT WS_VISIBLE
	CONTROL		"",1301,"Static",SS_ETCHEDHORZ | WS_GROUP,0,36,332,1
	CONTROL		"A&ccetto i termini del contratto di licenza",1000,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE | WS_TABSTOP | WS_GROUP,19,153,244,10
	CONTROL		"&Rifiuto i termini del contratto di licenza",1001,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,19,165,244,10
	PUSHBUTTON	"Stam&pa",10,272,152,50,14
	LTEXT		"",52,0,0,332,36
	LTEXT		"""@10550,10551;1;0;;0,128,128   """,1200,0,0,332,36,0,WS_EX_TRANSPARENT
	EDITTEXT	301,19,44,298,102,ES_MULTILINE | WS_VSCROLL | ES_LEFT | ES_READONLY | WS_GROUP | WS_BORDER,WS_EX_TRANSPARENT
	PUSHBUTTON	"< &Indietro",12,166,196,50,14,WS_GROUP
	DEFPUSHBUTTON	"&Avanti >",1,215,196,50,14
END


