<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StreamDestinationPath" value="E:\AccountingPlusPrints"/>
    <add key="TcpClientDelay" value="100"/>
    <add key="TcpClientWaitTime" value="5000"/>
    <add key="JustSaveJobData" value="false"/>
    <add key="ServiceWatchTime" value="60000"/>
    <add key="ConfigSplitIndex" value="13"/>
    <!-- Set TrackJobTimings == True to Track Job Tracking Details like Receiving/Spliting Start and End Time-->
    <!--<add key="TrackJobTimings" value="False"/>-->
    <add key="TrackJobTimings" value="True"/>
    <add key="RecordServiceTimings" value="True"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DBConnection" value="server=solutionswebsrv; Initial Catalog=AccountingPlusCampusDB;user Id=sa; Password=sa;"/>
    <!--DataServer values (FILESERVER or SQLSERVER) -->
    <add key="DataServer" value="FILESERVER"/>
    <!--SettingsSplitString value should be ~ seperated-->
    <add key="SettingsSplitString" value="@PJL ENTER LANGUAGE=PCL~) HP-PCL XL;2;0;~) HP-PCL XL;3;0;~@PJL ENTER LANGUAGE=POSTSCRIPT~@PJL ENTER LANGUAGE = POSTSCRIPT ~@PJL ENTER LANGUAGE=GDI"/>
    <add key="SettingMaxBuffer" value="20000"/>
    <!--File saving buffer size defined as 1 MB-->
    <add key="saveBufferSize" value="0x100000"/>
    <!-- EnableDebugTool = ENABLE/DISABLE, If Administration Service is responding it will overridden by Web setting-->
    <add key="EnableDebugTool" value="ENABLE"/>
    <add key="AllowAnonymousPrinting" value="true"/>
    <add key="Key1" value="false"/>
    <add key="Key2" value="false"/>
    <add key="Key3" value=""/>
    <add key="Key4" value=""/>
    <add key="Key5" value=""/>
    <add key="Key6" value=""/>
    <add key="Key7" value=""/>
    <add key="Key8" value=""/>
    <add key="Key9" value=""/>
    <add key="Key10" value=""/>
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccountingConfiguratorSoap" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/AccountingPlusAdmin/WebServices/Configurator.asmx"
          binding="basicHttpBinding" bindingConfiguration="AccountingConfiguratorSoap"
          contract="AdminWebService.AccountingConfiguratorSoap" name="AccountingConfiguratorSoap" />
    </client>
  </system.serviceModel>
</configuration>