<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTP_SERVER" value="172.29.240.82"/>
    <add key="SMTP_PORT" value="25"/>
    <add key="APPLY_USER_CREDENTIALS" value="FALSE"/>
    <add key="USER_ID" value=""/>
    <add key="USER_PASSWORD" value=""/>
    <add key="USER_DOMAIN" value=""/>
    <add key="Key1" value=""/>
    <add key="Key2" value=""/>
    <add key="Key3" value=""/>
    <add key="Key4" value=""/>
    <add key="Key5" value=""/>
    <add key="Key6" value=""/>
    <add key="Key7" value=""/>
    <add key="Key8" value=""/>
    <add key="Key9" value=""/>
    <add key="Key10" value=""/>
  </appSettings>
</configuration>