<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EventDataPath" value="F:\DevCode\CVS\MX-AccountingPlus\EventSimulator\EventData"/>
    <add key="JobRequestsPath" value="F:\DevCode\CVS\MX-AccountingPlus\EventSimulator\JobRequests"/>
    <add key="AccountantDBPath" value="F:\DevCode\CVS\MX-AccountingPlus\EventSimulator\EventSource\AccountantDB.xlsx"/>
    <add key="AccountingWebServiceUrl" value="http://172.29.241.199/AccountingPlusEAM/MfpSink.asmx"/>
    <add key="MfpWebService" value="MfpSink.asmx"/>
    
    <!--Parallel Events -->
    <add key="SimulateParallelHelloEvents" value="no"/>
    <add key="TotalParallelHelloEvents" value="100"/>
    
    <add key="SimulateParallelJobEvents" value="yes"/>
    <add key="TotalParallelJobEvents" value="10000"/>

    <!--Sequential Events -->
    <add key="SimulateSequentialHelloEvents" value="no"/>
    <add key="TotalSequentialHelloEvents" value="3"/>
    <add key="SequentialHelloEventInterval" value="2000"/> <!-- Miliseconds -->
    
    
    <add key="SimulateSequentialJobEvents" value="no"/>
    <add key="TotalSequentialJobEvents" value="7"/>
    <add key="SequentialJobEventInterval" value="1000"/> <!-- Miliseconds -->
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
