<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ResourceFileLocation" value="D:\PR_CVS\PrintRover\Localization Resources\PrintReleaseLocalizer_CLIENT_MESSAGES.xls"/>
    <add key="DBConnection" value="server=solutionserver\solutionserver; Initial Catalog=AccountingPlus12;user Id=sa; Password=ssdiblr@123;"/>
    <add key="SQLScriptFile" value="E:\Projects\MXAccountingPlusCode\MX-AccountingPlus\SQLScripts\AccountingPlusBuildDatabase.sql"/>
    <add key="Key1" value=""/>
    <add key="Key2" value=""/>
    <add key="Key3" value=""/>
    <add key="Key4" value=""/>
    <add key="Key5" value=""/>
    <add key="Key6" value=""/>
    <add key="Key7" value=""/>
    <add key="Key8" value=""/>
    <add key="Key9" value=""/>
    <add key="Key10" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
