<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AccountingPlusConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PrintJobsLocation" value="E:\AccountingPlusPrints"/>
    
    <add key="AutoRefillLoopTime" value="36000"/>
    <add key="ServiceWatchTime" value="180000"/>
    <add key="TempFileWatchTime" value="3600000" />
    <add key="FinalPRNFileWatcher" value="3600000"/>
    
    <add key="RecordServiceTimings" value="True"/>
    <add key="DeleteJobsOlderThan" value="2"/>
    <add key="DeleteFinalPRNOlderThan"  value="1"/>
    <add key="DBConnection" value="server=solutionswebsrv; Initial Catalog=AccountingPlus12;user Id=sa; Password=sa;"/>
    <add key="Key1" value="3600000"/> <!-- FinalPRNFileWatcher -->
    <add key="Key2" value="900000"/> <!-- Job Retention Timer-->
    <add key="Key3" value="3600000"/> <!-- Job Retention Timer 3600000=1 Hour -->
    <add key="Key4" value="AccountingPlusPrimaryJobListner,AccountingPlusSecondaryJobListner,AccountingPlusTertiaryJobListner,AccountingPlusPrimaryJobReleaser,AccountingPlusSecondaryJobReleaser,AccountingPlusTertiaryJobReleaser,AccountingPlusEmailExtractor"/>
    <add key="Key5" value="10800000"/> <!-- 259200000 = 3 days  , 10800000 = 3 hours-->
    <add key="Key6" value="http://www.sactivation.com/webservices/productactivation.asmx"/>
    <add key="Key7" value="60000"/>
    <add key="Key8" value=""/>
    <add key="Key9" value=""/>
    <add key="Key10" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <AccountingPlusConfigurator.Properties.Settings>
      <setting name="AccountingPlusConfigurator_ProductActivator_ProductActivation"
        serializeAs="String">
        <value>http://localhost/applicationregistration/webservices/productactivation.asmx</value>
      </setting>
    </AccountingPlusConfigurator.Properties.Settings>
  </applicationSettings>
</configuration>
