<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StreamDestinationPath" value="E:\AccountingPlusPrints"/>
    <add key="TcpClientDelay" value="100"/>
    <add key="TcpClientWaitTime" value="5000"/>
    <add key="JustSaveJobData" value="false"/>
    <add key="ListenerPort" value="8153"/>
    <add key="ServiceWatchTime" value="60000"/>
    <add key="ConfigSplitIndex" value="13"/>
    <!-- Set TrackJobTimings == True to Track Job Tracking Details like Receiving/Spliting Start and End Time-->
    <!--<add key="TrackJobTimings" value="False"/>-->
    <add key="TrackJobTimings" value="False"/>
    <add key="RecordServiceTimings" value="False"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DBConnection" value="server=solutionswebsrv; Initial Catalog=AccountingPlus12;user Id=sa; Password=sa;"/>
    <!--DataServer values (FILESERVER or SQLSERVER) -->
    <add key="DataServer" value="FILESERVER"/>
    <!--SettingsSplitString value should be ~ seperated-->
    <add key="SettingsSplitString" value="@PJL ENTER LANGUAGE=PCL~) HP-PCL XL;2;0;~) HP-PCL XL;3;0;~@PJL ENTER LANGUAGE=POSTSCRIPT~@PJL ENTER LANGUAGE = POSTSCRIPT ~@PJL ENTER LANGUAGE=GDI"/>
    <add key="SettingMaxBuffer" value="20000"/>
    <!--File saving buffer size defined as 1 MB-->
    <add key="saveBufferSize" value="0x100000"/>
    <!-- EnableDebugTool = ENABLE/DISABLE, If Administration Service is responding it will overridden by Web setting-->
    <add key="EnableDebugTool" value="ENABLE"/>
    <add key="AllowAnonymousPrinting" value="true"/>
    <add key="Key1" value="False"/>
    <add key="Key2" value="False"/>
    <add key="Key3" value=""/>
    <add key="Key4" value=""/>
    <add key="Key5" value=""/>
    <add key="Key6" value=""/>
    <add key="Key7" value=""/>
    <add key="Key8" value=""/>
    <add key="Key9" value=""/>
    <add key="Key10" value=""/>
    <add key="EnableFTPProxy" value="false"/>
    <!--true/false-->
    <add key="FTPProxy_Uri" value=""/>
    <!-- ex: http://172.29.240.69:80-->
    <add key="FTPProxy_User" value=""/>
    <add key="FTPProxy_Domain" value=""/>
    <add key="FTPProxy_Password" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
